@mixin center {
  align-items: center;
  text-align: center;
}

:host {
  .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    &:before {
      height: 24px;
    }

    &.center {
      @include center();
    }

    &-title {
      &__above,
      &__below {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .content{
    &-image {
      display: flex;
      flex-direction: column;
      &.center {
        @include center();
      }
    }
  }
}