<div mat-dialog-content>
  <xm-loader [showLoader]="showLoader"></xm-loader>

  <div class="form-group">
    <mat-form-field>
      <input (change)="onSearch()"
             [(ngModel)]="searchQuery"
             id="field_search"
             matInput
             name="search"
             placeholder="{{'xm-entity.link-detail-dialog.add.build-type-search' | translate}}"
             type="text">
    </mat-form-field>
  </div>

  <no-data [show]="!searchXmEntities || searchXmEntities?.length <= 0"></no-data>

  <div *ngIf="searchXmEntities?.length > 0" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th><span>{{'xm-entity.common.fields.name'|translate}}</span></th>
        <th><span>{{'xm-entity.common.fields.description'|translate}}</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let xmEntity of searchXmEntities">
        <td>
          <div class="xm-avatar-img-container">
            <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
            <i *ngIf="!xmEntity.avatarUrl && xmEntity && spec"
               class="material-icons">{{ xmEntity.typeKey | xmEntityIcon: spec}}</i>
          </div>
        </td>
        <td>{{xmEntity.name}}</td>
        <td>{{xmEntity.description}}</td>
        <td>
          <button mat-flat-button color="primary" (click)="onAdd(xmEntity)">
            {{'xm-entity.link-detail-dialog.add-link'|translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <button mat-flat-button color="primary" (click)="onShowMore()" *ngIf="searchXmEntities?.length < total" [disabled]="showLoader">
        {{'xm-entity.link-detail-dialog.show-more'|translate}}
      </button>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="ml-auto" mat-flat-button data-dismiss="modal" type="button" (click)="onCancel()">
    {{'xm-entity.common.cancel'|translate}}
  </button>
</div>
