:host {
  .policies {
    padding: 5px 0;
    background-color: rgb(167, 212, 208, .2);
    border-radius: 3px;
    margin-bottom: 20px;

    .policy-item {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .message {
        font-size: 14px;
        line-height: 14px;
      }

      .mat-icon {
        width: 15px;
        height: 15px;
        font-size: 15px;
        margin-right: 10px;

        &.rules-warn {
          color: #ff5a5a;

          &.passed {
            color: #006400;
          }
        }

        &.rule-decline {
          color: #ccc;
        }

        &.rule-accept {
          color: #006400;
        }
      }
    }
  }
}
