$idpItemWidth: 36px;
:host {
  .xm-idp-clients {
    text-align: center;

    button {
      vertical-align: top;
      min-width:      $idpItemWidth;
      min-height:     $idpItemWidth;
      width:          $idpItemWidth;
      height:         $idpItemWidth;
      padding-left:   0;
      padding-right:  0;
      margin:         0 5px 5px 5px;
      color:          #fff;

      img {
        display:    block;
        margin:     0 auto;
        max-width:  100%;
        max-height: 100%;
      }

      &.has-image, &.btn-linked, &.btn-facebook, &.btn-google, &.btn-google-plus {
        background-color:    transparent !important;
        border-color:        transparent !important;
        color:               transparent !important;
        background-repeat:   no-repeat;
        background-position: center;
        background-size:     contain;
        font-size:           0;
      }

      &.btn-linked {
        background-image: url("../../../src/assets/img/idp/linked_in.svg");
      }

      &.btn-facebook {
        background-image: url("../../../src/assets/img/idp/facebook.svg");
      }

      &.btn-google {
        background-image: url("../../../src/assets/img/idp/google.svg");
      }

      &.btn-google-plus {
        background-image: url("../../../src/assets/img/idp/google_plus.svg");
      }
    }
  }
}
