.item-container {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.is-current {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    padding: 1px;
    border: 4px solid;
    background-color: #fff;
    margin-bottom: 5px;
}

.not-current {
    width: 59px;
    height: 59px;
    margin: auto;
    border-radius: 50%;
    padding: 1px;
    border: 4px solid #fff;
    background-color: #fff;
    margin-bottom: 5px;
}

.item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    padding: 10px;
    margin: auto;
    position: relative;

    i {
        color: #fff;
    }
}

.current-margin {
    &:after {
        position: absolute;
        content: "";
        bottom: 47%;
        width: 6px;
        height: 3px;
        right: -14px;
        background-color: #fff;
    }

    &:before {
        content: "";
        width: 6px;
        bottom: 47%;
        position: absolute;
        height: 3px;
        background-color: #fff;
        left: -14px;
    }
}

.name {
    text-overflow: ellipsis;
}
