@mixin xm-navbar-search-widget-theme($theme) {
  .xm-search-global {
    --xm-navbar-search-icon: #{rgba(map-get($theme, on-surface), 0.58)};
    --xm-navbar-search-placeholder: #{rgba(map-get($theme, on-surface), 0.62)};
    --xm-navbar-search-text: #{rgba(map-get($theme, on-surface), 0.87)};
  }
}
