.xm-sign-in-form {
}

.xm-sign-in-form-banner-img {
  background-repeat:   no-repeat;
  background-position: center;
  background-position: 50% 50%;
  position:            absolute;
  min-height:          100%;
  object-fit:          cover;
  height:              100%;
  width:               100%;
}

