<div mat-dialog-title>
  <h4 class="modal-title text-left">{{'xm-entity.common.change-avatar'|translate}}</h4>
</div>

<div mat-dialog-content>
  <div class="text-center">
    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
      <div>
        <span class="btn mat-button btn-primary rounded-circle btn-file">
            <span class="fileinput-new">{{'xm-entity.common.add-avatar'|translate}}</span>
            <span class="fileinput-exists">{{'xm-entity.common.change-avatar'|translate}}</span>
            <input (change)="onFileChange($event)" name="..." type="file"/>
        </span>
      </div>
      <div class="fileinput-exists">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onCancel()"
          class="btn mr-1 ml-auto"
          data-dismiss="modal" mat-button type="button">
    <span>{{'xm-entity.common.cancel'|translate}}</span>
  </button>

  <button (click)="onSave()"
          [disabled]="showLoader || !data.image"
          color="primary"
          mat-button
          type="submit">
    <span>{{'xm-entity.common.save'|translate}}</span>
  </button>
</div>
