<ng-container *ngIf="selectedUnit">
  <div class="row">
    <div class="col-sm-12">
      <div class="xm-paypods-products-list">
        <div class="card">
          <div class="xm-paypods-preheader clearfix">
            <div class="card-header card-header-text selected card-header-primary">
              <div class="card-text">
                <h4 class="card-title" (click)="onUnitNavigate(selectedUnit)">
                  <span class="link-like">{{ selectedUnit.name ? selectedUnit.name : 'No site name found' }}</span>
                </h4>
                <p class="card-category" *ngIf="address"><i class="material-icons">place</i> {{ address }}</p>
              </div>
            </div>
            <button class="material-icons xm-refresh-data" (click)="onRefresh(selectedUnit)">refresh</button>
          </div>
          <xm-loader [showLoader]="showLoader"></xm-loader>
          <div class="card-body min-height">
            <div class="table-responsive" *ngIf="products?.length > 0">
              <table class="table unit-products-table">
                <thead>
                <tr>
                 <th>Sensor</th>
                 <th>Characteristics</th>
                 <th>Last Maintenance</th>
                 <th>
                   Recommended <br>
                   Maintenance
                 </th>
                 <th class="text-right">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    <div class="info-item" *ngIf="product?.target?.data?.sensorName">
                      <div class="info-item-content">
                        <a href="javascript: void(0);" (click)="onProductNavigate(product)">{{product.target.data.sensorName}}</a>
                      </div>
                      <div class="info-item-title">
                        Name
                      </div>
                    </div>

                    <div class="info-item" *ngIf="product?.target?.data?.brandName">
                      <div class="info-item-content">
                        {{product.target.data.brandName}}
                      </div>
                      <div class="info-item-title">
                        Brand
                      </div>
                    </div>

                    <div class="info-item" *ngIf="product?.target?.data?.serialNumber">
                      <div class="info-item-content">
                        {{product.target.data.serialNumber}}
                      </div>
                      <div class="info-item-title">
                        S/N
                      </div>
                    </div>
                  </td>
                  <td>
                    <ng-container *ngIf="product?.target?.data?.characteristics?.length > 0">
                      <div class="info-item" *ngFor="let characteristic of product.target.data.characteristics">
                        <div class="info-item-content nowrap" *ngIf="characteristic?.value">
                          {{characteristic.value}}
                        </div>
                        <div class="info-item-title" *ngIf="characteristic?.name">
                          {{characteristic.name}}
                        </div>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                    <div class="info-item" *ngIf="product.lastMaintenance">
                      <div class="info-item-content" *ngIf="product.lastMaintenance?.title">
                        {{product.lastMaintenance.title}}
                      </div>
                      <div class="info-item-title" *ngIf="product.lastMaintenance?.startDate">
                        <i class="material-icons">event</i>
                        <span class="date-val">{{product.lastMaintenance.startDate | date: 'yy-MM-dd'}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="info-item" *ngIf="product.recommendedMaintenance">
                      <div class="info-item-content" *ngIf="product.recommendedMaintenance?.title">
                        {{product.recommendedMaintenance.title}}
                      </div>
                      <div class="info-item-title" *ngIf="product.recommendedMaintenance?.startDate">
                        <i class="material-icons">event</i>
                        <span class="date-val">{{product.recommendedMaintenance.startDate | date: 'yy-MM-dd'}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <ng-container *ngIf="product.target?.data?.alerts?.length > 0">
                      <div class="product-state">
                        <strong>
                          {{product.target.data.alerts[0].name ? product.target.data.alerts[0].name : 'Unknown status'}}
                        </strong>
                        <div class="xm-unit-status"
                             [style.background]="product.target.data.alerts[0].color"
                              *ngIf="product?.target?.data?.alerts[0]?.color"
                              [title]="product?.target?.data?.alerts[0]?.name ?
                                       product?.target?.data?.alerts[0]?.name :
                                       'Unknown status'"
                        >
                          <i class="material-icons">{{ product.target.data.alerts[0].icon }}</i>
                        </div>
                      </div>
                      <p *ngIf="product?.target?.data?.alerts[0]?.marketingDesciption">
                        {{ product.target.data.alerts[0].marketingDesciption }}
                      </p>
                      <div class="text-right">
                        <button class="btn btn-primary btn-sm"
                                jhiTranslate="ext-cpi.unit-product-list-card.list-more-alerts"
                                (click)="onProductNavigate(product)">
                          MORE ALERTS
                        </button>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!(product.target?.data?.alerts?.length > 0)">
                      <div>No alerts for this sensor</div>
                    </ng-container>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <no-data [show]="!(products?.length > 0)"></no-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
