@import "@xm-ngx/styles/theming";
@import '@xm-ngx/styles/src/scroll';

$xm-sidebar-z-index:          $zindex-fixed !default;
$xm-sidebar-backdrop-z-index: -1 !default;

:host(.xm-sidebar) {
  z-index: $xm-sidebar-z-index;
  display: block;
}

.xm-sidebar-content {
  display:    block;
  width:      100%;

  .xm-sidebar-background {
    position: absolute;
    z-index:  $xm-sidebar-backdrop-z-index;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    display:  block;
    width:    100%;
    height:   100%;
    content:  '';
  }

  .section-scroll {
    display:        flex;
    overflow-x:     hidden;
    overflow-y:     auto;
    flex-direction: column;
    flex-grow:      1;
    height:        calc(100% - 65px);
    @include xm-scrollbar();
  }

  &__dynamic-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
