/*
 * Typography
 */
@use '@angular/material' as mat;

@function mat-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: null) {

  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    font-family: $font-family,
    letter-spacing: $letter-spacing
  );
}

$xm-font-size-xm:      11px !default;
$xm-font-size-sm:      1rem * 0.857 !default;
$xm-font-size-md:      16px !default;
$xm-font-size-lg:      1rem * 1.14 !default;
$xm-font-size-xl:      22px !default;

$xm-font-weight:       400 !default;

// Font
$xm-font-family:       Roboto, 'Helvetica Neue', sans-serif !default;
$xm-font-family-icons: 'Material Icons' !default;

$xm-headline-1:        mat.define-typography-level(8rem, 112px, 300, $letter-spacing: -0.05em) !default;
$xm-headline-2:        mat.define-typography-level(4rem, 56px, 400, $letter-spacing: -0.02em) !default;
$xm-headline-3:        mat.define-typography-level(3.21rem, 48px, 400, $letter-spacing: -0.005em) !default;
$xm-headline-4:        mat.define-typography-level(2.42rem, 40px, 400) !default;
$xm-headline-5:        mat.define-typography-level(24px, 32px, 400) !default;
$xm-headline-6:        mat.define-typography-level(20px, 32px, 500) !default;
$xm-subtitle-1:        mat.define-typography-level(16px, 28px, 400) !default;
$xm-subtitle-2:        mat.define-typography-level(14px, 24px, 500) !default;
$xm-body-1:            mat.define-typography-level(1rem * 1.08, 24px, 400) !default;
$xm-body-2:            mat.define-typography-level(14px, 20px, 400) !default;
$xm-caption:           mat.define-typography-level(12px, 20px, 400) !default;
$xm-button:            mat.define-typography-level(14px, 14px, 500) !default;
$xm-overline:          mat.define-typography-level(12px, 32px, 500) !default;
