<xm-page-ribbon></xm-page-ribbon>
<xm-error-messages></xm-error-messages>
<xm-password-needed></xm-password-needed>
<xm-maintenance-view></xm-maintenance-view>

<xm-heatmap-container>
    <div style="display: flex;" class="wrapper {{isGuestLayout ? 'xm-guest-layout' : 'xm-auth-layout'}}">
      <div xmGuestBackground></div>
<!--      <div-->
<!--        style="height: 100vh; width: 88px; background: #444746; position: sticky; z-index: 100"-->
<!--      ></div>-->
      <xm-menu-categories></xm-menu-categories>
      <mat-sidenav-container style="width: 100%" hasBackdrop="false">
        <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">
          <xm-sidebar *ngIf="!isGuestLayout"></xm-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
          <div *ngIf="resolved$ | async"
               class="main-panel xm-main-panel"
               id="main">
            <xm-loader [absolute]="true" routerLoading></xm-loader>

            <xm-navbar class="mb-3"></xm-navbar>
            <button style="position: absolute; z-index: 9999999; top: 0; right: 50%;" (click)="sidenav.toggle()">toggle menu</button>

            <div [ngClass]="(isGuestLayout && !config.fullWidth) ? 'container' : 'container-fluid'"
                 class="main-content xm-main-content">
              <router-outlet></router-outlet>
            </div>

            <router-outlet name="popup"></router-outlet>

            <xm-footer></xm-footer>

          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
<!--      <xm-sidebar *ngIf="!isGuestLayout" class="sidebar"></xm-sidebar>-->


      <xm-sidebar-right></xm-sidebar-right>
    </div>
</xm-heatmap-container>
