<xm-maintenance-view></xm-maintenance-view>
<xm-page-ribbon></xm-page-ribbon>
<xm-error-messages></xm-error-messages>
<xm-password-needed></xm-password-needed>

<xm-heatmap-container>
    <xm-top-panel></xm-top-panel>
    <div class="wrapper {{isGuestLayout ? 'xm-guest-layout' : 'xm-auth-layout'}}"
         navigationClass
         id="main-content-wrapper"
    >
      <div xmGuestBackground></div>
      <xm-layout-wrapper
        [isGuestLayout]="isGuestLayout"
      >
        <div *ngIf="resolved$ | async"
             class="main-panel xm-main-panel"
             id="main">
          <xm-loader [absolute]="true" routerLoading></xm-loader>

          <xm-navbar class="mb-3" [ngClass]="{'relative-position': isSidenavOpen$ | async}"></xm-navbar>

          <div [ngClass]="(isGuestLayout && !config.fullWidth) ? 'container' : 'container-fluid'"
               class="main-content xm-main-content">
            <router-outlet></router-outlet>
          </div>

          <router-outlet name="popup"></router-outlet>

          <xm-footer></xm-footer>

        </div>

      </xm-layout-wrapper>
      <xm-sidebar-right></xm-sidebar-right>
    </div>
</xm-heatmap-container>
