<div [ngClass]="{'wdt-md-edit': isEditMode}" class="xm-md-edit card wdt-md">
  <ng-container *permitted="['WIDGET.UPDATE']">
    <a (click)="onSave()" *ngIf="isEditMode" class="header-action" href="javascript: void(0);">
      <i class="material-icons">save</i>
    </a>
    <a (click)="onEditMode()" *ngIf="!isEditMode" class="header-action" href="javascript: void(0);">
      <i class="material-icons">edit</i>
    </a>
  </ng-container>
  <div class="card-header card-header-icon card-header-primary">
    <h4 class="card-title mb-0">
      {{config?.name}}
    </h4>
  </div>
  <div class="card-body">
    <td-text-editor
      [value]="widgetConfig.content"
      [options]="editorOptions"
      *ngIf="widgetConfig"
      #mdEditor>
    </td-text-editor>
  </div>
</div>
