<mat-card class="card xm-md-edit">
  <ng-container *permitted="'WIDGET.UPDATE'">
    <button class="header-action" color="primary" mat-icon-button (click)="onSave()" *ngIf="isEditMode">
      <mat-icon>save</mat-icon>
    </button>
    <button class="header-action" color="primary" mat-icon-button (click)="onEditMode()" *ngIf="!isEditMode">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
  <div class="card-header card-header-icon card-header-primary">
    <h4 class="card-title mb-0">
      {{config?.name}}
    </h4>
  </div>
  <div class="card-body">
    <td-text-editor
      [value]="widgetConfig.content"
      [options]="editorOptions"
      *ngIf="widgetConfig"
      #mdEditor>
    </td-text-editor>
  </div>
</mat-card>
