.actions-wrapper {
  padding-top: 1rem;
}

xm-environment-group {
  width: 100%;
  max-width: 1200px;
  display: block;
}

//.mat-horizontal-content-container {
//  padding: 24px;
//}

.loader {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
