:host {
  .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

// .alert-dialog {
//   .mat-mdc-dialog-container {
//     border-radius: 20px !important;
//   }
// }

// .close-icon {
  // position: absolute;
  // right: 0;
  // top: 0;
  // z-index: 1;
// }

// .dialog-header {
//   position: relative;
//   padding: 40px 24px 0 24px;
// }

// .dialog-title {
//   font-weight: 400;
// }

// .dialog-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .icon-dialog {
//   font-size: 33px;
//   height: 33px;
//   width: 33px;
//   color: #E41E26;
// }

// .centered {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// .btn.btn-bordered {
//   border: 1px solid rgba(0, 0, 0, 0.12) !important;
// }
