<div mat-dialog-title class="xm-terms-modal-header">
  <h4 class="modal-title text-left">{{'global.shared.privacy-and-terms-dialog.title' | translate}}</h4>
  <xm-modal-close mat-dialog-close></xm-modal-close>
</div>

<div mat-dialog-content>
  <xm-loader [showLoader]="showLoader"></xm-loader>
  <div class="xm-terms-viewer">
    <markdown [src]="config?.privacyAndTerms[lang ? lang : 'en']"></markdown>
    <div class="form-group checkbox accept-terms">
      <mat-checkbox color="primary"
                    name="iAgree"
                    [(ngModel)]="iAgree">
        {{ agreeLabel | translate}}
      </mat-checkbox>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="mr-1 ml-auto" mat-flat-button type="button" (click)="onCancel()">
    {{'global.common.cancel' | translate}}
  </button>
  <button mat-flat-button
          type="button"
          color="primary"
          data-dismiss="modal"
          [disabled]="!iAgree || showLoader" (click)="onAccept()">
    {{'global.common.accept' | translate}}
  </button>
</div>
