<div mat-dialog-title class="xm-terms-modal-header">
  <h4 class="modal-title text-left">
    {{'global.shared.privacy-and-terms-dialog.title' | translate}}
  </h4>
  <button class="modal-close" mat-icon-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <xm-loader [showLoader]="showLoader"></xm-loader>
  <div class="xm-terms-viewer">
    <markdown [src]="config?.privacyAndTerms[lang ? lang : 'en']"></markdown>
    <div class="form-group checkbox accept-terms">
      <mat-checkbox color="primary"
                    name="iAgree"
                    [(ngModel)]="iAgree">
        {{ agreeLabel | translate}}
      </mat-checkbox>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button type="button" class="btn mr-1 ml-auto" (click)="onCancel()">
    {{'global.common.cancel' | translate}}
  </button>
  <button mat-button
          type="button"
          color="primary"
          data-dismiss="modal"
          [disabled]="!iAgree || showLoader" (click)="onAccept()">
    {{'global.common.accept' | translate}}
  </button>
</div>
