.attachment-card-image {
    min-height: 80px;
}

.card-header {
  margin-right: 15px!important;
  margin-left: 15px!important;
}

.cursor-pointer {
  cursor: pointer;
}

.attachment-card-title {
    font-size: 14px;
}
