<form #commentForm="ngForm" (ngSubmit)="onConfirmSave()" class="m-0" name="commentForm" novalidate role="form">
  <div mat-dialog-title>
    <h4 class="modal-title text-start">
      <span>{{'xm-entity.comment-detail-dialog.title'|translate}}</span>
      [<strong>{{xmEntity.name}}</strong>]
    </h4>
    <xm-modal-close mat-dialog-close></xm-modal-close>
  </div>
  <div mat-dialog-content>
    <xm-loader [showLoader]="showLoader"></xm-loader>
    <div [hidden]="!(commentSpecs?.length > 1)" class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="comment.typeKey"
                    [disabled]="commentSpecs?.length == 1"
                    id="field_typeKey"
                    name="typeKey"
                    placeholder="{{'xm-entity.comment-detail-dialog.choose-type' | translate}}">
          <mat-option *ngFor="let commentSpec of commentSpecs" [value]="commentSpec.key">
            {{commentSpec.name | translate | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea #commentBody="ngModel"
                  [(ngModel)]="comment.message"
                  matInput
                  name="comment"
                  placeholder="{{'xm-entity.common.fields.message' | translate}}"
                  required
                  rows="4">
        </textarea>
        <mat-error *ngIf="commentBody.hasError('required')">
          <span>{{'xm-entity.common.validation.required'|translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="me-1 ms-auto"
            mat-flat-button
            type="button"
            data-dismiss="modal"
            (click)="onCancel()">
      {{'xm-entity.common.cancel'|translate}}
    </button>
    <button [disabled]="commentForm.form.invalid || showLoader"
            mat-flat-button
            color="primary"
            type="submit">
      {{'xm-entity.common.save'|translate}}
    </button>
  </div>
</form>
