:host {
  display: block;
}

mat-dialog-content {
  min-height: 500px;
  max-height: 75vh;
  overflow-y: auto;
  padding: 0;
}

.dashboard-container {
  padding: 1rem;
  min-height: 400px;
}

mat-dialog-actions {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

h4[mat-dialog-title] {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  .text-muted {
    font-weight: normal;
  }
}