<div *ngIf="xmEntity" class="xm-fab">
  <div class="xm-fab-drop">
    <button (click)="onAddAttachment()"
            *xmPermitted="['ATTACHMENT.CREATE']; context: xmAttachmentContext()"
            class="xm-fab-option">
      <mat-icon>attach_file</mat-icon>
      <span class="fab-title">{{ "xm-entity.entity-detail-fab.new-attachment" | translate }}</span>
    </button>
    <ng-container *xmPermitted="['LINK.CREATE']; context: xmLinksContext()">
      <button (click)="onAddLink(linkSpec)" *ngFor="let linkSpec of this.xmEntitySpec.links" class="xm-fab-option">
        <mat-icon>{{linkSpec.icon}}</mat-icon>
        <span class="fab-title">{{ "xm-entity.entity-detail-fab.new-link" | translate }}</span>
      </button>
    </ng-container>
    <button (click)="onAddComment()"
            *xmPermitted="['COMMENT.CREATE']; context: xmCommentContext()"
            class="xm-fab-option">
      <mat-icon>comment</mat-icon>
      <span class="fab-title">{{ "xm-entity.entity-detail-fab.new-comment" | translate }}</span>
    </button>
    <button (click)="onAddALocation()"
            *xmPermitted="['LOCATION.CREATE']; context: xmLocationContext()"
            class="xm-fab-option">
      <mat-icon>place</mat-icon>
      <span class="fab-title">{{ "xm-entity.entity-detail-fab.new-location" | translate }}</span>
    </button>
  </div>

  <ng-container *ngIf="showEditButton">
    <button (click)="onEdit()"
            *xmPermitted="['ENTITY.UPDATE']; context: xmEditContext()"
            class="btn btn-primary xm-fab-button fab-main-button">
      <mat-icon>edit</mat-icon>
      <span class="fab-title">{{ "xm-entity.entity-detail-fab.edit-entity" | translate }}</span>
    </button>
  </ng-container>

  <button *ngIf="!showEditOptions && showEditSubOptions" class="btn btn-primary xm-fab-button fab-main-button">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
