:host {
  .pending-direct-login {
    min-height: 140px;

    &.xm-disabled {
      opacity: 1 !important;
    }

    .card-header, .card-body {
      display: none;
    }
  }
}

:host-context(.new-home-page) {
  border-radius: 20px;
  position: relative;
  margin-top: 40px !important;

}

.signin-page {
  min-height: auto;
}

.sign-in-body {
  width: 100%;
}

.card-title {
  text-align: center;
}

.language-holder {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.new-sign-in {
  width: 100%;
  padding: 1rem;
}

.footer-link-block {
  justify-content: flex-start;
}


@media only screen and (min-width: 992px) {
  .marketing {
    width: 100%;
  }
}

//media
@media only screen and (min-width: 1018px) {
  .signin-page {
    display: flex;
  }

  .marketing-card {
    height: 100%;
  }
  .sign-in-marketing {
    width: 50%;
    min-width: 50%;
  }
  .new-sign-in {
    /* width: 50%;
     min-width: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  .card-title {
    text-align: left;
  }

  .marketing + .new-sign-in {
    width: 50%;
    min-width: 50%;
  }

  .marketing {
    width: 50%;
  }
}


