@keyframes xm-loading-rotate-360 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

$xm-loading-border-width: 2px !default;
$xm-loading-size:         1em !default;

.xm-loading {
  position: relative;
}

.xm-loading.xm-loading-active:after {
  display:       block;
  content:       '';
  z-index:       1;
  position:      absolute;
  width:         $xm-loading-size;
  height:        $xm-loading-size;
  left:          50%;
  top:           50%;
  transform:     translate(-50%, -50%);
  border-radius: 50%;
  border-width:  $xm-loading-border-width;
  border-style:  solid;
  animation:     xm-loading-rotate-360 700ms linear infinite;
}

@mixin xm-loading-border-color($theme, $prop) {
  &:after {
    $xm-color:    map-get($theme, $prop);
    border-color: $xm-color transparent $xm-color transparent;
  }
}

@mixin xm-loading-theme($theme) {

  .xm-loading-active {
    @include xm-loading-border-color($theme, surface);
  }

  .xm-loading-active.mat-unthemed {
    @include xm-loading-border-color($theme, surface);
  }

  .xm-loading-active.mat-primary {
    @include xm-loading-border-color($theme, primary);
  }

  .xm-loading-active.mat-accent {
    @include xm-loading-border-color($theme, secondary);
  }

  .xm-loading-active.mat-warn {
    @include xm-loading-border-color($theme, warn);
  }

}
