@mixin xm-text-view-theme($theme) {
  $label-color: map-get($theme, text-light);
  $text-color:  map-get($theme, text);

  .xm-text-view--label {
    color: $label-color;
  }

  .xm-text-view--value {
    color: $text-color;
  }
}
