<div class="header-block">
  <h1 class="title pb-mob">{{config.title|translate}}</h1>
  <h3 class="sub-title mb-1">{{'login-page.tfa.code-number' | translate}}</h3>
  <h3 class="number pb-mob">{{phone| mask: '+000-000-00-00'}}</h3>
</div>
<div class="form-block pb-mob">
  <h3 class="sub-title">{{'login-page.tfa.code-sms' | translate}}</h3>
  <div class="otp-block pb-4">
    <letters-control (submitEvent)="setValue($event)" [config]="{mask:'000000'}" ></letters-control>
  </div>
  <div class="timer-block pb-mob">
    <h3 class="timer">{{remainingTime| timeFormat }}</h3>
    <p>{{'login-page.tfa.code-valid' | translate}}</p>
    <p class="timer-text"><span>{{'login-page.tfa.no-sms' | translate}}</span>
      <a href="javascript: void(0);" class="link" (click)="resendSms()"> {{'login-page.tfa.more-sms' | translate}}</a>
    </p>
  </div>
  <div class="text-end">
    <button mat-flat-button
            type="button"
            color="primary"
            (click)="loginTFA()"
            class="btn size-xl mb-4   "
            [disabled]="isFormDisabled()">
      <span>{{'login.form.otpValidateButton' | translate}}</span>
    </button>
    <button mat-flat-button
            type="button"
            class="btn size-xl"
            (click)="backToLogin()">
      <span>{{'login.form.otpValidateCancel' | translate}}</span>
    </button>
  </div>
</div>
