.xm-checkbox-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .xm-checkbox-container-label {
    font-size: 11px;
    line-height: 25px;
    color: #00000099;
  }

  .xm-checkbox-container-input {
    align-self: center;
    user-select: none;

    &::ng-deep .mat-checkbox-background {
      background: transparent;

      svg path {
        stroke: #00000099 !important;
      }
    }
  }
}
