$idpItemWidth: 36px;
:host {
  .xm-idp-clients {
    text-align: center;

    button {
      vertical-align: top;
      min-width:      $idpItemWidth;
      min-height:     $idpItemWidth;
      width:          $idpItemWidth;
      height:         $idpItemWidth;
      padding-left:   0;
      padding-right:  0;
      margin:         0 5px 5px 5px;

      img {
        display:    block;
        margin:     0 auto;
        max-width:  100%;
        max-height: 100%;
      }

      &.has-image, &.btn-linked, &.btn-facebook, &.btn-google, &.btn-google-plus {
        background-color:    transparent;
        border-color:        transparent;
        color:               transparent;
        background-repeat:   no-repeat;
        background-position: center;
        background-size:     contain;
        font-size:           0;
      }

      &.btn-linked {
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC \'-//W3C//DTD SVG 1.0//EN\'  \'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\'><svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M32,30c0,1.104-0.896,2-2,2H2c-1.104,0-2-0.896-2-2V2c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2V30z" fill="#007BB5"/><g><rect fill="#FFFFFF" height="14" width="4" x="7" y="11"/><path d="M20.499,11c-2.791,0-3.271,1.018-3.499,2v-2h-4v14h4v-8c0-1.297,0.703-2,2-2c1.266,0,2,0.688,2,2v8h4v-7    C25,14,24.479,11,20.499,11z" fill="#FFFFFF"/><circle cx="9" cy="8" fill="#FFFFFF" r="2"/></g></g><g/><g/><g/><g/><g/><g/></svg>');
      }

      &.btn-facebook {
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC \'-//W3C//DTD SVG 1.0//EN\'  \'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\'><svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M32,30c0,1.104-0.896,2-2,2H2c-1.104,0-2-0.896-2-2V2c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2V30z" fill="#3B5998"/><path d="M22,32V20h4l1-5h-5v-2c0-2,1.002-3,3-3h2V5c-1,0-2.24,0-4,0c-3.675,0-6,2.881-6,7v3h-4v5h4v12H22z" fill="#FFFFFF" id="f"/></g><g/><g/><g/><g/><g/><g/></svg>');
      }

      &.btn-google {
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC \'-//W3C//DTD SVG 1.1//EN\'  \'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\'><svg enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x31__stroke"><g id="Google"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="128" width="128"/><path clip-rule="evenodd" d="M27.585,64c0-4.157,0.69-8.143,1.923-11.881L7.938,35.648    C3.734,44.183,1.366,53.801,1.366,64c0,10.191,2.366,19.802,6.563,28.332l21.558-16.503C28.266,72.108,27.585,68.137,27.585,64" fill="#FBBC05" fill-rule="evenodd"/><path clip-rule="evenodd" d="M65.457,26.182c9.031,0,17.188,3.2,23.597,8.436L107.698,16    C96.337,6.109,81.771,0,65.457,0C40.129,0,18.361,14.484,7.938,35.648l21.569,16.471C34.477,37.033,48.644,26.182,65.457,26.182" fill="#EA4335" fill-rule="evenodd"/><path clip-rule="evenodd" d="M65.457,101.818c-16.812,0-30.979-10.851-35.949-25.937    L7.938,92.349C18.361,113.516,40.129,128,65.457,128c15.632,0,30.557-5.551,41.758-15.951L86.741,96.221    C80.964,99.86,73.689,101.818,65.457,101.818" fill="#34A853" fill-rule="evenodd"/><path clip-rule="evenodd" d="M126.634,64c0-3.782-0.583-7.855-1.457-11.636H65.457v24.727    h34.376c-1.719,8.431-6.397,14.912-13.092,19.13l20.474,15.828C118.981,101.129,126.634,84.861,126.634,64" fill="#4285F4" fill-rule="evenodd"/></g></g></svg>');
      }

      &.btn-google-plus {
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC \'-//W3C//DTD SVG 1.0//EN\'  \'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd\'><svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path clip-rule="evenodd" d="M32,30c0,1.104-0.896,2-2,2H2c-1.104,0-2-0.896-2-2V2   c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2V30z" fill="#E02F2F" fill-rule="evenodd"/><g><path d="M19,6c0,0-4.592,0-6.164,0c-2.82,0-5.475,1.979-5.475,4.453c0,2.528,1.922,4.494,4.791,4.494    c0.2,0,0.394-0.045,0.584-0.059c-0.188,0.355-0.318,0.737-0.318,1.154c0,0.703,0.377,1.264,0.854,1.729    c-0.358,0-0.709,0.005-1.09,0.005C8.689,17.777,6,20,6,22.307c0,2.272,2.948,3.695,6.441,3.695c3.983,0,6.183-2.262,6.183-4.534    c0-1.821-0.538-2.913-2.199-4.091c-0.569-0.401-1.656-1.38-1.656-1.956c0-0.674,0.192-1.006,1.208-1.8    c1.039-0.812,1.776-1.781,1.776-3.111c0-1.581-0.68-3.51-2.003-3.51H18L19,6z M16.931,21.074c0.048,0.212,0.077,0.429,0.077,0.649    c0,1.836-1.185,3.271-4.58,3.271c-2.415,0-4.158-1.528-4.158-3.364c0-1.799,2.163-3.298,4.579-3.271    c0.562,0.006,1.088,0.097,1.564,0.249C15.724,19.521,16.664,20.036,16.931,21.074z M13.063,14.225    c-1.621-0.047-3.162-1.813-3.441-3.94c-0.279-2.13,0.808-3.759,2.428-3.711c1.62,0.05,3.162,1.758,3.441,3.886    C15.771,12.588,14.684,14.273,13.063,14.225z" fill="#FFFFFF"/><polygon fill="#FFFFFF" points="24,13.993 24,10.993 22,10.993 22,13.993 19,13.993 19,15.993 22,15.993 22,18.993 24,18.993     24,15.993 27,15.993 27,13.993   "/></g></g><g/><g/><g/><g/><g/><g/></svg>');
      }

    }
  }

  .block-separator {
    border-top: 1px solid #E3E3E3;
    margin: 20px 0;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 10px;
      background-color: #fff;
      font-size: 12px;
      font-weight: 400;
      color: #424242;
    }
  }
}
