.hint {
  &-popover {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 100%;
  }
  &-toggle {
    width: 18px;
    height: 18px;
    line-height: 18px;
    &__icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}
