@use '@angular/material' as mat;

$custom-dialog-theme: (
  container-shape: 30px
);

$custom-dialog-button-theme: (
  container-shape: 30px
);

$custom-dialog-border-radius: 20px;

@mixin xm-alert-theme($xm-theme) {
  .xm-alert {
    .mat-mdc-dialog-surface {
      border-radius: $custom-dialog-border-radius;
    }

    .mdc-dialog__title {
      padding-bottom: 16px;
      padding-top: 24px;
    }

    .mdc-dialog__actions {
      padding: 0 24px 24px 24px; // Can't be redefined through material
      row-gap: 16px;
    }

    .mdc-dialog__content {
      padding: 0 24px 24px 24px; // Can't be redefined through material
    }

    .mdc-dialog__title:before {
      height: 24px;
    }

    .icon-close {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
    }
  }

  .mat-mdc-dialog-container {
    border-radius: $custom-dialog-border-radius;
  }
}
