@import 'theme';

$label-color:     $xm-text-light !default;
$label-font-size: 0.75 * 100% !default;

.xm-text-view--label {
  color:         $label-color;
  font-size:     $label-font-size;
  margin-bottom: 0;
}

:host.inline {
  display:         flex;
  justify-content: space-between;
  align-items:     baseline;

  .xm-text-view--label {
    font-size:    $xm-font-size-sm;
    margin-right: 1rem;
  }
}

:host.inline .xm-text-view--value {
  margin-bottom: 0.5rem;
}
