:host ::ng-deep {
  mat-list {
    &.mat-list-base {
      padding: 5px 0;
      background-color: rgb(167, 212, 208, .2);
      border-radius: 3px;
      margin-bottom: 20px;

      .mat-list-item {
        height: 32px;
      }

      .mat-list-item:first-child {
        margin-bottom: 5px;
      }

      .message {
        font-size: 14px;
        line-height: 14px;
      }

      .mat-icon {
        width: 12px;
        margin-right: 15px;

        &.rules-warn {
          margin: 0 16px 0 -1px;
          font-size: 18px;
          height: 18px;
          color: #ff5a5a;

          &.passed {
            color: #006400;
          }
        }

        &.rule-decline {
          margin: 0 13px 0 2px;
          font-size: 12px;
          height: 12px;
          color: #ccc;
        }

        &.rule-accept {
          font-size: 16px;
          height: 16px;
          color: #006400;
        }
      }
    }
  }
}
