<div ngModelGroup="passwordPolicy" *ngIf="showPolicies">
  <input name="passwordPolicyStatus"
         [required]="policyCheckRequired"
         type="hidden"
         [ngModel]="(passedPolicies >= policiesRequired) || null"
  />

  <mat-list>
    <mat-list-item>
      <mat-icon class="rules-warn" [class.passed]="passedPolicies >= policiesRequired">error_outline</mat-icon>
      <div class="message">
        {{ 'password.policies.count-passed' | translate:{ count: passedPolicies, required: policiesRequired } }}
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let policy of policies">
      <mat-icon *ngIf="policy.passed; else declined" class="rule-accept">done</mat-icon>
      <ng-template #declined>
        <mat-icon class="rule-decline">circle</mat-icon>
      </ng-template>

      <div class="message">{{ policy.patternMessage | translate }}</div>
    </mat-list-item>
  </mat-list>
</div>


