@import './sidebar';
@import '../../layouts/main/main-theme';
@import '../../../../packages/components/src/menu/menu-theme';
@import '../../../../packages/components/src/sidebar-user/user-theme';

@mixin xm-sidebar-theme($theme) {
  @include menu($theme);
  @include user-theme($theme);

  .xm-sidebar {
    @include xm-sidebar($theme);
  }
}
