// TODO make dark mode ???
$mat-header-row-height: 56px !default;

:host {
  min-height:          $mat-header-row-height;

  border-width:        0;
  border-bottom-width: 1px;
  border-style:        solid;
  display:             flex;
  align-items:         center;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  background-color:    white;
  width:               100%;
  padding-left: 24px;
  padding-right: 24px;


}


.button-block{
  margin-left: auto;
}
