<div class="card">
  <div [hidden]="!isLoginFormView" class="card-header card-header-primary card-header-icon">
    <h4 class="card-title">
      {{'ext-common.sign-in-up-widget.sign-in' | translate}}
    </h4>
  </div>
  <div [hidden]="isLoginFormView" class="card-header card-header-primary card-header-icon">
    <h4 class="card-title">
      {{'ext-common.sign-in-up-widget.sign-up' | translate}}
    </h4>
  </div>
  <div class="card-body">
    <div class="text-center">
      <div *ngIf="config?.signUpEnabled" class="btn-group">
        <button (click)="changeMode()"
                [disabled]="isLoginFormView"
                class="btn btn-round btn-sm"
                mat-raised-button
                color="primary"
                type="button">
          <span>{{'ext-common.sign-in-up-widget.sign-in' | translate}}</span>
        </button>
        <button (click)="changeMode()"
                [disabled]="!isLoginFormView"
                mat-raised-button
                class="btn btn-round btn-sm"
                color="primary"
                type="button">
          <span>{{'ext-common.sign-in-up-widget.sign-up' | translate}}</span>
        </button>
      </div>
    </div>
    <xm-login *ngIf="isLoginFormView"
              [config]="config"
              [loginLabel]="loginLabel"
              [successRegistration]="successRegistration"></xm-login>
    <xm-register *ngIf="!isLoginFormView" [config]="config"></xm-register>
  </div>
</div>
