@mixin bar-animation($type) {
  -webkit-animation:           $type 500ms linear 0s;
  -moz-animation:              $type 500ms linear 0s;
  animation:                   $type 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  animation-fill-mode:         forwards;
}

@mixin transform-translate-x($value) {
  -webkit-transform: translate3d($value, 0, 0);
  -moz-transform:    translate3d($value, 0, 0);
  -o-transform:      translate3d($value, 0, 0);
  -ms-transform:     translate3d($value, 0, 0);
  transform:         translate3d($value, 0, 0);
}

@mixin transitions($time, $type) {
  -webkit-transition: all $time $type;
  -moz-transition:    all $time $type;
  -o-transition:      all $time $type;
  -ms-transition:     all $time $type;
  transition:         all $time $type;
}

@keyframes top-bar-back {
  0% {
    top:       6;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top:       0;
    transform: rotate(0);
  }
}

@keyframes bottom-bar-back {
  0% {
    bottom:    6px;
    transform: rotate(-135deg);
  }
  45% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    bottom:    0;
    transform: rotate(0);
  }
}

@keyframes top-bar-x {
  0% {
    top:       0;
    transform: rotate(0deg);
  }
  45% {
    top:       6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes bottom-bar-x {
  0% {
    bottom:    0;
    transform: rotate(0deg);
  }
  45% {
    bottom:    6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

$top-bar-back:    top-bar-back !default;
$bottom-bar-back: bottom-bar-back !default;
$top-bar-x:       top-bar-x !default;
$bottom-bar-x:    bottom-bar-x !default;


.navbar .container {
  left: 0;
  @include transform-translate-x(-260px);
}

.navbar .container {
  @include transform-translate-x(0px);
  @include transitions(0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  left: 0;
}

.navbar-toggle .icon-bar {
  position:      relative;
  display:       block;
  width:         24px;
  height:        2px;
  margin:        0 auto;
  border-radius: 1px;
  background:    #555 !important;
}

.navbar-header .navbar-toggle {
  width:      40px;
  height:     40px;
  margin-top: 4px;
  padding:    15px;
}

.bar1,
.bar2,
.bar3 {
  outline: 1px solid transparent;
}

.navbar-toggle {
  .icon-bar:nth-child(2) {
    top: 0;
    @include bar-animation($top-bar-back);
  }

  .icon-bar:nth-child(3) {
    opacity: 1;
  }

  .icon-bar:nth-child(4) {
    bottom: 0;
    @include bar-animation($bottom-bar-back);
  }

  &.toggled {
    .icon-bar:nth-child(2) {
      top: 6px;
      @include bar-animation($top-bar-x);
    }

    .icon-bar:nth-child(3) {
      opacity: 0;
    }

    .icon-bar:nth-child(4) {
      bottom: 6px;
      @include bar-animation($bottom-bar-x);
    }
  }
}

.navbar.navbar-transparent {
  .navbar-toggle {
    .navbar-toggle-icon {
      background-color: white;
    }
  }
}

.navbar-toggle {
  cursor: pointer;

  .navbar-toggle-icon {
    display:        block;
    width:          22px;
    height:         2px;
    vertical-align: middle;
    border-radius:  1px;
    outline:        0;

    & + .navbar-toggle-icon {
      margin-top: 4px;
    }
  }
}
