:host(.xm-table) {

  white-space: nowrap;

  .mat-card.no-horizontal-paddings {
    padding-left:  0;
    padding-right: 0;
  }

  tr.xm-table-loading-row {
    min-height: min-content;
    height:     inherit;
  }

  .push-self-right {
    display:     block;
    margin-left: auto;
  }

  .no-margin {
    margin: 0;
  }

  .overflow-wrap {
    max-width: 100%;
    overflow:  auto;

    > table {
      width: 100%;
    }
  }

  .mat-mdc-paginator {
    background: none;
  }
}
