$cSelected: #004a93;
$cAction: #0084d6;
$cActionHover: #ffcd00;
$cWhite: #fff;
$cRowHover: #DFDFDF;
$cTextDark: #999;
$cMachineGrey: #555a60;

.xm-statistic-widget {
    .statistic-data {
        position: relative;
        padding: 10px 0 30px 30px;
    }

    .data-icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 40px;
        height: 40px;
        font-size: 45px;
        text-align: center;
        margin: -30px 0 0 0;
        line-height: 40px;

        &.color-action {
            color: $cActionHover;
        }
    }

    .data-item {
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        &:first-letter {
            margin: 0 8px 0 0;
            color: $cTextDark;
        }
    }

    .cpi-yellow {
        .data-icon {
            color: $cActionHover;
        }
    }

    .cpi-blue {
        .data-icon {
            color: $cSelected;
        }
    }

    .cpi-grey {
        .data-icon {
            color: $cMachineGrey;

            &.color-active {
                color: $cActionHover;
            }
        }
    }

    .statistic-data-footer {
        padding:  20px 0 0 0;
        border-top: 1px solid $cTextDark;
        color: $cTextDark;

        .refresh {
            float: right;
            box-shadow: none;
            background-color: transparent;
            border: none;
            color: $cAction;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding: 0;
            margin: -2px 0 0 0;

            &:hover {
                color: $cActionHover;
            }

            >i {
                font-size: 30px;
            }
        }
    }

    .data-date {
        position: relative;
        padding: 0 0 0 24px;
        font-size: 12px;

        >i {
            position: absolute;
            left: 0;
            top: -2px;
            font-size: 16px;
        }
    }
}

.cpi-yellow {
    .card-text {
        background: $cActionHover !important;
        box-shadow: none;
    }
}

.cpi-blue {
    .card-text {
        background: $cSelected !important;
        box-shadow: none;
    }
}

.cpi-grey {
    .card-text {
        background: $cMachineGrey;
        box-shadow: none;
    }
}
