<ng-container>
  <div class="xm-statistic-widget">
    <div class="row">
      <div class="col-sm-6">
        <div class="cpi-blue">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">Number of active sensors</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="statistic-data">
                <i class="material-icons data-icon">check_circle</i>
                <div class="data-item">
                  <span class="value">{{activeSensorsCount}}</span>
                </div>
              </div>
              <div class="statistic-data-footer clearfix">
                 <span class="data-date" *ngIf="period">
                  <i class="material-icons">event_note</i>
                  <span>For the last {{period}} day(s)</span>
                </span>
                <a href="javascript: void(0);" class="refresh" (click)="onRefresh()">
                  <i class="material-icons">refresh</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cpi-yellow">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">Total errors</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="statistic-data">
                <i class="material-icons data-icon">error</i>
                <div class="data-item">
                  <span class="value">{{errorsSensorCount}}</span>
                </div>
              </div>
              <div class="statistic-data-footer clearfix">
                <span class="data-date" *ngIf="period">
                  <i class="material-icons">event_note</i>
                  <span>For the last {{period}} day(s)</span>
                </span>
                <a href="javascript: void(0);"
                   class="refresh"
                   (click)="onRefresh()">
                  <i class="material-icons">refresh</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Analytic Data Monthly Charts</h2>
  </div>
</ng-container>
