/**
 * @deprecated
 * use widgets: {submit: NoneComponent } instead
 */
.json-form-hide-submit material-button-widget {
    display: none;
}

/*
* Padding for mat-fields
*/
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0.75em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.5em 0;
}

/*
* Padding for angular-material table
*/
th.mat-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-right: 16px;
  padding-left:  16px;
}

td.mat-mdc-cell {
  padding-left:  1rem;
  padding-right: 1rem;
}

.mat-card.mb-4 {
  padding-top: 0px;
  margin-top:  20px;
  display:     inline-block;
  width:       100%;
}

/*
* angular 15 migration
*/
.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card-header-text {
  width: 100%;
}