$dark-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
$darkness-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
$light-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);

$default-box-shadow: $dark-box-shadow, $light-box-shadow !important;
$elevated-box-shadow: $darkness-box-shadow, $light-box-shadow !important;

.mdc-button {
    border-radius: 100px !important;
}
.mdc-fab, .mdc-fab .mat-mdc-button-persistent-ripple {
    border-radius: 16px !important;
}

.mat-mdc-outlined-button {
    border: 1px solid #DADADA !important;
    color: currentColor !important;
}

.mat-mdc-unelevated-button {
    box-shadow: none !important;
    &:hover {
        box-shadow: $default-box-shadow;
    }
}
.mat-mdc-elevated-button,
.mat-raised-button .mdc-fab {
    box-shadow: $default-box-shadow;
    &:hover {
        box-shadow: $elevated-box-shadow;
    }
}
