$xm-menu-item-hover:        rgba(200, 200, 200, 0.2) !default;
$xm-menu-item-active:       0 4px 20px 0 rgba(246, 126, 126, 0.14), 0 7px 10px -5px rgba(#000, 0.4) !default;
$xm-menu-list-padding-left: 0 !default;
$xm-menu-icon-font-size:    20px !default;

@mixin xm-menu-link-theme($theme) {
  cursor: pointer;

  $xm-primary: map-get($theme, primary);
  $xm-menu-item-active-color: map-get($theme, sidebar-text-active-color) or $xm-primary;

  &.expanded {
    background: $xm-menu-item-hover;
    @include is-enable-rounded();
  }

  &:active {
    background: $xm-menu-item-hover;
    @include is-enable-rounded();
  }

  &.active {
    outline:    0;
    color:      $xm-menu-item-active-color;
    background: $xm-menu-item-hover;
  }

  &:hover:not(.active),
  &:focus:not(.active) {
    background: $xm-menu-item-hover;
    color:      $xm-menu-item-active-color;
    @include is-enable-rounded();
  }

  &:focus,
  &.focus {
    outline:    0;
    background: $xm-menu-item-hover;
  }
}

@mixin xm-menu-theme($theme) {

  .menu-title {

    &.expanded {
      background: $xm-menu-item-hover;
      @include is-enable-rounded();
    }
  }

  .menu-list {
    list-style-type: none;
    overflow:        hidden;
    // TODO: override default ul styles
    padding-left:    $xm-menu-list-padding-left;
    margin-bottom:   0;

    &.collapsed {
      overflow: hidden;
      // TODO: override default ul styles
      margin:   0;
    }
  }

  .mat-expansion-indicator {
    margin-right: $xm-sidebar-padding-x;
    margin-left:  auto;

    &::after {
      @include xm-mat-expansion-indicator();
    }
  }

  .menu-link {
    overflow:       hidden;
    white-space:    nowrap;
    display:        flex;
    flex-direction: row;
    align-items:    center;
    color:          inherit;
    padding:        $xm-sidebar-menu-item-padding-y $xm-sidebar-padding-x $xm-sidebar-menu-item-padding-y $xm-sidebar-padding-x * 2;


    &:not(.active) > .mat-icon {
      color: inherit;
    }

    & > .xm-menu-item-text {
      padding-left:  $xm-sidebar-padding-x;
      overflow:      hidden;
      text-overflow: ellipsis;
    }

    &-icon {
      background-color: rgba(225, 255, 255, 0.1);
      border-radius: 4px;
    }

    @include xm-menu-link-theme($theme);
  }

  .menu-icon {
    font-size: $xm-menu-icon-font-size;
    /** fix bug of side bar mini */
    min-width: 24px;
  }

}
