@use '@xm-ngx/styles/src/scroll';

$xm-menu-item-hover: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08)) !default;
$xm-menu-item-active: 0 4px 20px 0 rgba(246, 126, 126, 0.14), 0 7px 10px -5px rgba(#000, 0.4) !default;
$xm-menu-list-padding-left: 0 !default;
$xm-menu-icon-font-size: 20px !default;

@mixin xm-menu-link-theme($theme) {
  cursor: pointer;

  $xm-primary: map-get($theme, primary);
  $xm-menu-item-active-color: map-get($theme, sidebar-text-active-color) or $xm-primary;

  &.expanded {
    background: $xm-menu-item-hover;
    @include is-enable-rounded();
  }

  &:active {
    background: $xm-menu-item-hover;
    @include is-enable-rounded();
  }

  &.active {
    outline: 0;
    color: $xm-menu-item-active-color;
    background: $xm-menu-item-hover;
  }

  &:hover:not(.active),
  &:focus:not(.active),
  &.hover-active:not(.active-with-stretch) {
    background: $xm-menu-item-hover;
    color: $xm-menu-item-active-color;
    @include is-enable-rounded();
  }

  &.active-with-stretch {
    position: relative;
    outline: 0;
    color: $xm-menu-item-active-color;
    background: $xm-menu-item-hover;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      background: rgba($xm-menu-item-active-color, .3);
      border-radius: 24px;
      animation: stretch-background 250ms;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    background: $xm-menu-item-hover;
  }

  &.active-menu-category {
    outline: 0;
    color: $xm-menu-item-active-color;
    background: $xm-menu-item-hover;
  }

  @media all and (max-width: 991px) {
    &:hover:not(.active),
    &:focus:not(.active),
    &.hover-active:not(.active-with-stretch) {
      border-radius: 100px;
    }
  }
}

@mixin xm-menu-theme($theme) {

  $xm-primary: map-get($theme, primary);
  $xm-menu-item-active-color: map-get($theme, sidebar-text-active-color) or $xm-primary;
  $xm-sidebar-background: map-get($theme, sidebar-background) or transparent;

  .menu-view {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 256px;
    max-width: 256px;
    background-color: $xm-sidebar-background;
    height: 100vh;

    @media all and (max-width: 991px) {
      width: 75vw;
      max-width: 350px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    &__theme-switcher {
      margin-top: auto;
      padding: 16px;
      display: flex;
      justify-content: center;

      switch-theme-widget {
        width: 100%;
      }
    }

    .main-menu-nav-button {
      margin: 10px 8px 0;
      padding: 0 16px;
      display: flex;
      align-items: center;
      height: 48px;
      border-radius: 100px;

      &__icon {
        margin-right: 16px;
      }
    }

    cdk-tree {
      width: 100%;
      height: calc(100% - 16px);
      overflow-y: auto;
      margin: 8px 0 8px;
      @include xm-scrollbar();

      @media all and (max-width: 991px) {
        margin-top: 0;
      }
    }
  }

  .old-menu {
    height: 100%;
    border-radius: 0;
    width: 100%;
    max-width: none;

    @media all and (max-width: 991px) {
      min-width: 256px;
      max-width: 256px;
    }

    &__content {
      height: calc(100vh - 64px);
    }

    cdk-tree {
      height: 100%;
      margin: 0;
    }
  }

  .menu-title {

    &.expanded {
      background: $xm-menu-item-hover;
      @include is-enable-rounded();
    }
  }

  .menu-list {
    list-style-type: none;
    overflow: hidden;
    // TODO: override default ul styles
    padding-left: $xm-menu-list-padding-left;
    margin-bottom: 0;

    &.collapsed {
      overflow: hidden;
      // TODO: override default ul styles
      margin: 0;
    }
  }

  .nested-menu-list {
    padding: 0 2px 0 18px;
    width: 100%;
    max-width: 100%;
  }

  .mat-expansion-indicator {
    margin-right: $xm-sidebar-padding-x;
    margin-left: auto;

    &::after {
      @include xm-mat-expansion-indicator();
    }
  }

  .menu-link {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    padding: $xm-sidebar-menu-item-padding-y $xm-sidebar-padding-x $xm-sidebar-menu-item-padding-y $xm-sidebar-padding-x * 2;;


    &:not(.active) > .mat-icon {
      color: inherit;
    }

    & > .xm-menu-item-text {
      padding-left: $xm-sidebar-padding-x;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-icon {
      margin: 0 8px 0 16px;
    }

    @include xm-menu-link-theme($theme);
  }

  .rounded-menu-link {
    margin: 2px 8px;
    border-radius: 24px;
    padding: $xm-sidebar-menu-item-padding-y $xm-sidebar-padding-x;

    @media all and (max-width: 991px) {
      margin: 0 8px 0 50px;
      height: 48px;
      padding: 2px $xm-sidebar-padding-x;
    }
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $xm-menu-icon-font-size;
    /** fix bug of side bar mini */
    min-width: 24px;
  }

}

@keyframes stretch-background {
  0% {
    transform: scale(0.5, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
