.description{
color: #909090;
font-size: 12px;
}

.col-auto{
width:100%;
}

.mat-menu-trigger{
margin-top:10px;
}

.avatar-container-card {
    position: relative;
    display:  inline-block;

    .edit-avatar {
        position: absolute;
        right:    0;
        bottom:   0;
    }
}

.avatar-container-card i {
    display:    block;
    text-align: center;
    color:      grey;
    position:   absolute;
    left:       0;
    right:      0;
    transform:  translateY(5%);
    font-size:  50px;
    top:        8%;
}

.avatar-container-card img{
    width:         70px;
    height:        70px;
    overflow:      hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgb(225, 225, 225);
}

 .card-icon img{
    width:         70px;
    height:        70px;
    overflow:      hidden;
    border-radius: 3px;
}
.card-custom .card-icon.avatar{
    padding:0px;
}

.hidden {
    display: none;
}

.card-title {
     margin-top:10px !important;
}

.row-compact{
    margin-left:0px;
    margin-right:0px;
}

.card-custom-schema-compact{
    border-top: solid 1px #E0E0E0;
    margin-top: 5px !important;
    padding-top: 7px;
}

.card-custom {
    min-width:300px;

    &.has-avatar {
        .card-title {
            margin-left: 60px;
        }

      .avatar-position{
      position:absolute;
      top: -10px;
      left: -20px;
      }
    }

    .card-title {
        max-width: calc(100% - 150px) ;

        @media (min-width: 450px) {
          font-size: 22px;
        }
        @media (max-width: 450px) {
          font-size: 14px;
        }
    }

    .ecc-name{
      font-weight: bold;
      margin-top: 6px;
      font-size: 18px;
    }


}


.function-list{
    width:100%;
    margin-top:15px;
}

.card-desc {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    position:   relative;
    max-height: 62px;
    overflow:   hidden;
    transition: all 0.3s ease;
    width: calc(100% - 30px)

    &-toggle {
        position:    absolute;
        right:       5px;
        top:         5px;
        width:       10px;
        height:      10px;
        transform:   rotate(45deg);
        cursor:      pointer;
        border:      2px solid #666;
        border-left: none;
        border-top:  none;
    }

    &.desc-full-view {
        max-height: 250px;

        .card-desc-toggle {
            transform: rotate(225deg);
        }
    }

}

:host::ng-deep {
    .card {
        &-menu {
            position: absolute;
            z-index:  10;
            right:    0;
            top:      0;
        }

        &-header {
            margin-right: 40px !important;
        }
    }

    .card-custom-schema {
        material-button-widget {
            div {
                text-align: right;
            }

            button {
                border-radius: 20px !important;
            }
        }
    }

    .card-custom {

        xm-function-list-section-compact {
            .mt-3 {
                margin-top:    0 !important;
                margin-bottom: 0 !important;
            }

            .container-fluid {

                .col {
                    flex:      0 0 auto;
                    width:     auto;
                    max-width: none;

                    &:first-child {

                    }

                    p {
                        display: none;
                    }

                    &.limetedWidth {
                        xm-entity-state {
                            position: relative;

                            &::after {
                                content:     ':';
                                position:    absolute;
                                font-size:   22px;
                                font-weight: 700;
                                bottom:      12px;
                            }
                        }
                    }
                }

                .xm-state {
                    margin-right: 10px !important;
                }
            }

            .func-compact-blk {
                padding-bottom: 10px !important;

                hr, p {
                    display: none;
                }

                button {
                    border-radius: 20px;
                }
            }

        }

        xm-rating-list-section {
            .col {
                display: none;
            }
        }

        xm-tag-list-section {
            .xm-sources-tags .holder {
                border: none;
            }
        }

    }
}
