.xm-home-defaults {
  text-align: center;
  padding: 20px 0;

  mat-icon {
    font-size: 90px;
    width: 100px;
    height: 100px;
    margin: 0 0 40px 0;
  }

  .message {
    font-size: 30px;
  }
}
