@import 'xm-sidebar-right/xm-sidebar-right-theme';
@import 'navbar-guest-background/xm-navbar-guest-background-theme';
@import 'loading/xm-loading-theme';
@import 'text/xm-text-theme';
@import 'xm-multilanguage/xm-angular-editor-theme';

@mixin xm-components-theme($xm-theme) {
  @include xm-angular-editor-theme($xm-theme);
  @include xm-sidebar-right-theme($xm-theme);
  @include xm-navbar-guest-background-theme($xm-theme);
  @include xm-loading-theme($xm-theme);
  @include xm-text-theme($xm-theme);
}
