@import 'sidebar-right/xm-sidebar-right-theme';
@import 'navbar-guest-background/xm-navbar-guest-background-theme';
@import 'loading/xm-loading-theme';
@import 'placeholder/block-placeholder/xm-block-placeholder-theme';
@import 'text/xm-text-theme';
@import 'code/xm-code-theme';
@import 'menu/menu-theme';
@import 'sidebar-user/user-theme';
@import 'ribbon/xm-ribbon-theme';
@import 'multilanguage/xm-angular-editor-theme';
@import 'navbar/search/xm-navbar-search-widget-theme';

@mixin xm-components-theme($xm-theme) {
  @include xm-angular-editor-theme($xm-theme);
  @include xm-sidebar-right-theme($xm-theme);
  @include xm-navbar-guest-background-theme($xm-theme);
  @include xm-loading-theme($xm-theme);
  @include xm-ribbon-theme($xm-theme);
  @include xm-user-theme($xm-theme);
  @include xm-menu-theme($xm-theme);
  @include xm-text-theme($xm-theme);
  @include xm-code-theme($xm-theme);
  @include xm-block-placeholder-theme($xm-theme);
  @include xm-navbar-search-widget-theme($xm-theme);
}
