// Bootstrap utils
@import './src/vendor/bootstrap-theme';

// Components
// @todo: move to separate module/package
@import './src/scroll';
@import './src/animate';
@import './src/avatar-img-container';
@import './src/card';
@import './src/card-entity-list-actions';
@import './src/card-header';
@import './src/fab';
@import './src/button-group';
@import './src/state';
@import './src/word-autocomplete';
@import './src/material-mat-dialog';
@import './src/loader-placeholder';

@mixin xm-ngx-styles-theme($theme) {

  // Components
  @include xm-animate($theme);
  @include xm-avatar-img-container($theme);
  @include xm-card($theme);
  @include xm-entity-list-actions($theme);
  @include xm-card-header($theme);
  @include xm-fab($theme);
  @include xm-button-group($theme);
  @include xm-state($theme);
  @include xm-word($theme);
  @include xm-mat-dialog($theme);
  @include loader-placeholder($theme);

}
