.avatar-container {
    max-height: 300px;
    height: 250px;
    width: auto;
    overflow: hidden;
    background-size: cover;
    background-position-y: center;
    position: relative;
}

.placeholder-icon {
    font-size: 70px;
    color: #808080;
    margin: auto;
    text-align: center;
    position: absolute;
}

.status {
    display: flex;

    .status-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto 0;
    }

    .status-name {
        display: inline-block;
        margin: auto 10px;
    }

    .close-card {
        display: inline-block;
        margin-left: auto;
        color: grey;
        cursor: pointer;
    }
}

.name-container {
    display: flex;

    .blank {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: auto 0;
    }

    .name {
        display: inline-block;
        margin: auto 10px;
        color: grey;
    }
}

.card-label {
    color: grey;
    padding-right: 12px;
}

.left {
    left: 0!important;
}
