
.form-control-addon {
  position: absolute;
  right: 0;
  top: 3px;
  cursor: pointer;
  color: #ccc;
  padding: 10px;
}

.forgot-container {
  margin: 10px 0 0;

  @media (min-width: 992px) {
    text-align: right;
    margin: 20px 0 0;
  }
}

.xm-tooltip {
  cursor: pointer;
  position: relative;

  > span {
    position: absolute;
    bottom: 100%;
    left: 100%;

    pointer-events: none;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 16px;

    color: rgba(255, 255, 255, 0.87);
    background-color: #616161;

    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;

    -webkit-transform: scale(0);
    transform: scale(0);
  }

  &:hover {
    > span {
      -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.9;
    }
  }

  &.direction-left {
    > span {
      left: auto;
      right: 100%;

      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
    }
  }
}

form {
  button, [type="submit"] {
    width: 100%;
    padding: 8px 24px;
  }
}

.btn.size-xl {
  padding: 16px 10px !important;
  border-radius: 9px;
  font-size: 20px;
  height: auto;
}

.block {
  position: relative;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pb-mob {
  padding-bottom: 1.5rem;
}

.notification-error {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}

.alert {
  .alert-icon {
    min-width: 24px;
    margin-right: 8px;
    color: #EA4027;
  }
}


@media only screen and (min-width: 1018px) {
  .registration {
    align-items: center;
    justify-content: flex-start;
  }
  .pb-mob {
    padding-bottom: 3rem;
  }

}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
  }

  &__title {
    color: #181818;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 8px;
  }

  &__description {
    color: #4D4D4D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
  }
}
