<div class="location-card">
  <h4 class="card-title">{{'xm-entity.location-list-card.title'|translate}}</h4>
  <div>
    <div *ngIf="locations.length; else emptyTemplate"
         aria-multiselectable="false"
         class="panel-group"
         id="accordion"
         role="tablist">
      <div *ngFor="let location of locations" class="card-collapse mb-0">
        <div (click)="onCollapseMap(location)" id="{{'heading-' + location.id" role="tab">
          <a [attr.aria-controls]="'collapse-' + location.id"
             class="location-name"
             aria-expanded="false"
             data-parent="#accordion"
             data-toggle="collapse"
             href="{{'#collapse-' + location.id}}"
             role="button">
            <h6 class="panel-title mt-1">
              <span class="row">
                <span class="col">
                  <img src="../assets/img/leaflet/marker-icon-cyan.svg" alt="'marker'">
                  <em>({{getLocationSpec(location).name | translate | uppercase}}
                      )</em>{{location | locationAddress}}
                </span>
                <span class="col-auto">
                  <mat-icon [class.rotate-arrow]="openedLocation">keyboard_arrow_down</mat-icon>
                  <a (click)="onManage(location)"
                     *xmPermitted="['LOCATION.UPDATE']"
                     class="d-inline edit-location mr-2">Edit</a>
                  <a (click)="onRemove(location)"
                     *xmPermitted="['LOCATION.DELETE']"
                     class="d-inline remove-location">Delete</a>
                </span>
              </span>
            </h6>
          </a>
        </div>

        <div [attr.aria-labelledby]="'heading-' + location.id"
             class="collapse"
             id="{{'collapse-' + location.id}}"
             role="tabpanel">
          <h5 *ngIf="location" class="mt-4">{{getPrintAddress(location)}}</h5>

          <ng-container *ngIf="locationMaps.hasOwnProperty(location.id)">
            <ng-template (gMapApiReady)="onAfterGMapApiInit(location)" xmGMapApiInit>
              <div *ngIf="location.latitude && location.longitude"
                   class="map"
                   id="{{'location-map-' + location.id}}"></div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
    <ng-template #emptyTemplate>
      <no-data [hideImage]="true" [show]="true" [text]="noDataText"></no-data>
    </ng-template>
  </div>
</div>
<div class="location-card" *xmPermitted="['LOCATION.CREATE']">
  <h4 class="card-title" (click)="collapseAddLocationBlock()" style="cursor: pointer">
    {{'xm-entity.location-list-card.add-location' | translate}}
  </h4>
  <div class="flex-row justify-content-center align-content-center grey-bg" [@collapse]="collapsedAddLocation">
    <div class="add-location-card-body d-flex flex-column align-items-center">
      <img src="../assets/img/leaflet/marker-icon-grey.svg" alt="'marker'">
      <h6 *ngIf="locations?.length === 0">{{'xm-entity.location-list-card.not-defined' | translate}}</h6>
      <div class="xm-state" (click)="onAddALocation()">
        {{'xm-entity.location-list-card.add-location' | translate}}
      </div>
    </div>
  </div>
</div>
