<form (ngSubmit)="onChangeState()" class="m-0" name="changeStateForm">
  <div mat-dialog-title>
    <h4 [innerHTML]="dialogTitle | translate" class="modal-title text-left"></h4>
    <xm-modal-close mat-dialog-close></xm-modal-close>
  </div>
  <div mat-dialog-content>
    <xm-loader [showLoader]="showLoader"></xm-loader>
    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (isValid)="isJsonFormValid = $event"
                      (onChanges)="onChangeForm($event)"
                      *ngIf="xmEntity && jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf"
                      [options]="jsfAttributes.options | i18nJsf"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets"
                      class="json-form-hide-submit">
    </json-schema-form>
  </div>
  <div mat-dialog-actions>
    <button class="mr-1 ms-auto" mat-flat-button data-dismiss="modal" type="button" (click)="onCancel()">
      {{'xm-entity.common.cancel'|translate}}
    </button>
    <button [disabled]="showLoader || !isJsonFormValid" mat-flat-button color="primary" type="submit">
      {{buttonTitle | translate}}
    </button>
  </div>
</form>
