.hint {
  width: 100%;
  + ::ng-deep .mat-form-field-hint-spacer {
    flex: auto;
  }
}

.toggle-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__text {
    &--truncate {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
