<form (ngSubmit)="onConfirmFunctionCall()" class="m-0" name="functionCallForm">
  <div mat-dialog-title>
    <h4 [innerHTML]="dialogTitle | translate" class="modal-title text-start"></h4>
    <xm-modal-close mat-dialog-close></xm-modal-close>
  </div>

  <div mat-dialog-content>
    <xm-loader [showLoader]="showLoader$ | async"></xm-loader>
    <json-schema-form (formLayout)="jsfAttributes.formLayout"
                      (isValid)="isJsonFormValid = $event"
                      (onChanges)="onChangeForm($event)"
                      *ngIf="jsfAttributes?.schema"
                      [data]="jsfAttributes.data"
                      [form]="jsfAttributes.form | i18nJsf"
                      [framework]="'material-design'"
                      [layout]="jsfAttributes.layout | i18nJsf"
                      [options]="jsfAttributes.options | i18nJsf"
                      [schema]="jsfAttributes.schema"
                      [widgets]="jsfAttributes.widgets"
                      class="json-form-hide-submit">
    </json-schema-form>
  </div>

  <div *ngIf="showSecondStep$ | async; else firstStep" mat-dialog-actions>
    <button (click)="onCancel()"
            class="btn me-1 ms-auto"
            data-dismiss="modal"
            mat-button
            type="button">
      <span *ngIf="jsfAttributes?.entity?.closeName">{{jsfAttributes.entity.closeName | translate}}</span>
      <span *ngIf="!jsfAttributes?.entity?.closeName">{{'xm-entity.common.close'|translate}}</span>
    </button>
  </div>

  <ng-template #firstStep>
    <div mat-dialog-actions>
      <button class="me-1 ms-auto"
              mat-flat-button
              type="button"
              data-dismiss="modal"
              (click)="onCancel()">
        <span *ngIf="jsfAttributes?.entity?.cancelName">{{jsfAttributes.entity.cancelName | translate}}</span>
        <span *ngIf="!jsfAttributes?.entity?.cancelName">{{'xm-entity.common.cancel'|translate}}</span>
      </button>
      <button [disabled]="(showLoader$ | async) || !isJsonFormValid"
              mat-flat-button
              color="primary"
              type="submit">
        <span *ngIf="jsfAttributes?.entity?.saveName">{{jsfAttributes.entity.saveName | translate}}</span>
        <span *ngIf="!jsfAttributes?.entity?.saveName">{{buttonTitle | translate}}</span>
      </button>
    </div>
  </ng-template>
</form>
