$radio-group-gap: 10px;

.xm-radio-group {
  &--line {
    .xm-radio-button {
      margin-right: $radio-group-gap;
    }
  }

  &--stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .xm-radio-button {
      margin-bottom: $radio-group-gap;
    }
  }
}
