$xm-scrollbar-size: 10px !default;
$xm-scrollbar-border-radius: 10px !default;
$xm-scrollbar-foreground-color: #777777 !default;
$xm-scrollbar-background-color: #cbcbcb !default;
/*
 * Custom scrollbar
 */
@mixin xm-scrollbar($xm-scrollbar-size: $xm-scrollbar-size,
                    $xm-scrollbar-border-radius: $xm-scrollbar-border-radius,
                    $xm-scrollbar-foreground-color: $xm-scrollbar-foreground-color,
                    $xm-scrollbar-background-color: $xm-scrollbar-background-color) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $xm-scrollbar-size;
    height: $xm-scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    background:    padding-box $xm-scrollbar-foreground-color;
    border-radius: $xm-scrollbar-border-radius;
    border:        2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background: $xm-scrollbar-background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color:  $xm-scrollbar-foreground-color;
    scrollbar-track-color: $xm-scrollbar-background-color;
  }
}

.cdk-global-overlay-wrapper {
  overflow: auto;
  pointer-events: auto!important;
}
