<div [ngSwitch]="list?.length === 1" class="card has-refresh-button">
  <!-- start header for the multi entities types -->
  <div *ngSwitchCase="false" class="card-header card-header-tabs card-header-primary">
    <ul [class.xm-disabled]="showLoader" class="nav nav-tabs" data-tabs="tabs">
      <li *ngFor="let item of list; index as i; first as isFirst" class="nav-item">
        <a (click)="setActiveTab(i)"
           [class.active]="i == activeItemId"
           class="nav-link"
           data-toggle="tab"
           href="{{'#wdt-entity-group-' + i}}">
          <i class="material-icons">{{ item.xmEntitySpec?.icon ? item.xmEntitySpec?.icon : 'view_list'}}</i>
          {{item.name | translate}}
        </a>
      </li>
    </ul>
  </div>
  <!-- end header for the multi entities types  -->

  <!-- start header for the one entity type  -->
  <div *ngSwitchCase="true" class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{list[0]?.xmEntitySpec?.icon ? list[0]?.xmEntitySpec?.icon : 'search'}}</i>
    </div>
    <h4 *ngSwitchCase="true" class="card-title">{{list[0].name | translate}}</h4>
  </div>
  <!-- end header for the one entity type  -->

  <xm-loader [showLoader]="showLoader"></xm-loader>
  <div class="card-body">
    <div [class.xm-disabled]="showLoader" class="tab-content">
      <div *ngFor="let item of list; index as i; first as isFirst"
           [class.active]="i == activeItemId"
           class="tab-pane"
           id="{{'wdt-entity-group-' + i}}">
        <div *ngIf="!(options?.hideOptionsMenu)" class="dropdown xm-entity-list-actions">
          <button [matMenuTriggerFor]="entityListActions" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #entityListActions="matMenu">
            <button (click)="onRefresh()" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.refresh' | translate}}
            </button>
            <button (click)="isShowFilterArea = !isShowFilterArea" *ngIf="item.filter" class="btn-sm" mat-menu-item>
              <ng-container *ngIf="isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-hide' | translate}}
              </ng-container>
              <ng-container *ngIf="!isShowFilterArea">
                {{'xm-entity.entity-list-card.filters-show' | translate}}
              </ng-container>
            </button>
            <ng-container *ngIf="item.xmEntitySpec?.functions && item.xmEntitySpec?.functions.length">
              <xm-function-list-section [functionSpecs]="item.xmEntitySpec?.functions" [listView]="true">
              </xm-function-list-section>
            </ng-container>
            <button *xmPermitted="['XMENTITY.EXPORT.FILE']"
                    [matMenuTriggerFor]="entityListActionDownloads"
                    class="btn-sm"
                    mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.downloads' | translate}}
            </button>
          </mat-menu>

          <mat-menu #entityListActionDownloads="matMenu">
            <button (click)="onFileExport(item, 'xlsx')" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.xls' | translate}}
            </button>
            <button (click)="onFileExport(item, 'csv');" class="btn-sm" mat-menu-item>
              {{'xm-entity.entity-list-card.export.action.csv' | translate}}
            </button>
          </mat-menu>
        </div>

        <div class="row">
          <!-- start fast search -->
          <div *xmPermitted="['XMENTITY.SEARCH.QUERY']" class="col-sm-8">
            <div *ngIf="item.fastSearch?.length > 1" class="btn-group">
              <button (click)="onApplyFastSearch(item, getDefaultSearch(item))"
                      *ngIf="!isHideAll(item.typeKey)"
                      [class.disabled]="item.currentQuery === getDefaultSearch(item)"
                      class="btn btn-primary btn-sm"
                      mat-button>
                <span jhiTranslate="global.all">All</span>
              </button>
              <button (click)="onApplyFastSearch(item, fastSearch.query)"
                      *ngFor="let fastSearch of getFastSearches(item)"
                      [class.disabled]="item.currentQuery === fastSearch.query"
                      class="btn btn-primary btn-sm"
                      mat-button>
                {{fastSearch.name | translate}}
              </button>
            </div>
          </div>
          <!-- end fast search -->
        </div>

        <ng-container [class.hidden]="!item.entities">
          <xm-entity-list [item]="item"
                          [spec]="spec"
                          [options]="options"
                          [pageSize]="entitiesPerPage"
                          [reverse]="reverse"
                          [currentEntitiesUiConfig]="currentEntitiesUiConfig"
                          [predicate]="predicate"></xm-entity-list>
        </ng-container>
      </div>
    </div>
  </div>
</div>
