<mat-card [ngSwitch]="list?.length === 1" class="mb-4">
  <xm-loader [showLoader]="showLoader"></xm-loader>
  <!-- start header for the one entity type  -->
  <div *ngSwitchCase="true" class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>{{list[0]?.xmEntitySpec?.icon ? list[0]?.xmEntitySpec?.icon : 'search'}}</mat-icon>
    </div>
    <h4 *ngSwitchCase="true" class="card-title">{{list[0].name | translate}}</h4>
  </div>
  <!-- end header for the one entity type  -->

  <ng-container *ngSwitchCase="true">
    <ng-container *ngFor="let item of list; index as i; first as isFirst">
      <ng-container [class.hidden]="!item.entities">
        <xm-entity-list [item]="item"
                        [spec]="spec"
                        [options]="options"
                        [pageSize]="entitiesPerPage"
                        [reverse]="reverse"
                        [predicate]="predicate"></xm-entity-list>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <mat-tab-group animationDuration="0" class="xm-tabs-lists" >
      <mat-tab [label]="item.name | translate"
               (change)="setActiveTab(i)"
               *ngFor="let item of list; index as i; first as isFirst">
        <ng-template mat-tab-label>
          <mat-icon>{{item.xmEntitySpec?.icon ? item.xmEntitySpec?.icon : 'view_list'}}</mat-icon>
          {{item.name | translate}}
        </ng-template>
        <ng-container [class.hidden]="!item.entities">
          <xm-entity-list [item]="item"
                          [spec]="spec"
                          [options]="options"
                          [pageSize]="entitiesPerPage"
                          [reverse]="reverse"
                          [predicate]="predicate"></xm-entity-list>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</mat-card>
