:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.edit-mode {
  zoom: 0.7;
  border: 2px dashed #2d8f13;
  padding: 20px;
}

.edit-ui-configurator {
  border: 2px dashed #2298ec;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  position: relative;
  z-index: 6;
}

.edit-ui-configurator > * {
  margin: 10px;
}

.edit-ui-configurator .vf-toolbar-widget {
  margin: 10px;
}

.ui-constructor-edit {
  margin: 0 5px;
}

.ui-constructor-resize {
}

.ui-constructor-save {
}

.save-dashboard-btn {
  position: absolute;
  margin: 10px;
  top: 20px;
  right: 0;
  z-index: 9;
}

.ui-constructor-container {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  z-index: 9;
}

.hidden {
  display: none
}
