<div class="location-detail-dialog">
  <form (ngSubmit)="onConfirmSave()" *ngIf="xmEntity" [formGroup]="form">
    <div mat-dialog-title>
      <h4 class="modal-title text-left">
        <span>
          {{(form.value.id ? 'xm-entity.location-detail-dialog.edit.title' : 'xm-entity.location-detail-dialog.add.title') | translate}}
        </span>

        [<b>{{xmEntity.name}}</b>]
      </h4>
      <xm-modal-close mat-dialog-close></xm-modal-close>
    </div>

    <div mat-dialog-content>
      <xm-loader [showLoader]="showLoader"></xm-loader>

      <input
        *ngIf="form.value.id"
        formControlName="id"
        matInput
        readonly
        style="display: none"
        type="text"
      >

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select
              required
              formControlName="typeKey"
              placeholder="{{'xm-entity.location-detail-dialog.choose-type' | translate}}"
            >
              <mat-option *ngFor="let locationSpec of locationSpecs" [value]="locationSpec.key">
                {{(locationSpec.name | translate | uppercase)}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['typeKey'].hasError('required')">
              <span>{{'xm-entity.common.validation.required' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="name"
              matInput
              required
              placeholder="{{'xm-entity.common.fields.name' | translate}}"
              type="text"
            >
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              <span>{{'xm-entity.common.validation.required' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select
              required
              formControlName="countryKey"
              placeholder="{{'xm-entity.location-detail-dialog.choose-country' | translate}}"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="formCountrySearch"
                  [noEntriesFoundLabel]="'global.rest-select-placeholder-noresults' | translate"
                  [placeholderLabel]="'global.rest-select-placeholder-search.simple' | translate"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let option of filteredCountryOptions | async" [value]="option.key">
                {{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['countryKey'].hasError('required')">
              <span>{{'xm-entity.common.validation.required' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="zip"
              matInput
              placeholder="{{'xm-entity.common.fields.zip' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="region"
              matInput
              placeholder="{{'xm-entity.common.fields.region' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="city"
              matInput
              placeholder="{{'xm-entity.common.fields.city' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="addressLine1"
              matInput
              placeholder="{{'xm-entity.common.fields.addressLine1' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="addressLine2"
              matInput
              placeholder="{{'xm-entity.common.fields.addressLine2' | translate}}"
              type="text"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-form-field>
            <input
              formControlName="latitude"
              matInput
              required
              placeholder="{{'xm-entity.common.fields.latitude' | translate}}"
              type="text"
            >
            <mat-error *ngIf="form.controls['latitude'].hasError('required')">
              <span>{{'xm-entity.common.validation.required' | translate}}</span>
            </mat-error>
            <mat-error *ngIf="form.controls['latitude'].hasError('pattern')">
              <span>{{'xm-entity.common.validation.coordinates' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md">
          <mat-form-field>
            <input
              formControlName="longitude"
              matInput
              required
              placeholder="{{'xm-entity.common.fields.longitude' | translate}}"
              type="text"
            >
            <mat-error *ngIf="form.controls['longitude'].hasError('required')">
              <span>{{'xm-entity.common.validation.required' | translate}}</span>
            </mat-error>
            <mat-error *ngIf="form.controls['longitude'].hasError('pattern')">
              <span>{{'xm-entity.common.validation.coordinates' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto">
          <button
            (click)="applyCoordinates()"
            [disabled]="coordinatesInvalid"
            class="btn btn-primary btn-icon btn-just-icon rounded-circle"
            mat-icon-button
            type="button"
          >
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ng-template (gMapApiReady)="onAfterGMapApiInit()" xmGMapApiInit>
            <div class="location-detail-dialog__map"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button class="mr-1 ml-auto" mat-flat-button data-dismiss="modal" type="button" (click)="onCancel()">
        {{'xm-entity.common.cancel' | translate}}
      </button>
      <button [disabled]="!form.valid || showLoader" mat-flat-button color="primary" type="submit">
        {{'xm-entity.common.save' | translate}}
      </button>
    </div>
  </form>
</div>
