<nav class="navbar navbar-transparent">
  <div class="xm-navbar-container justify-content-between row mx-3">

    <div class="d-flex">
      <xm-navbar-logo-component></xm-navbar-logo-component>
      <xm-navbar-arrow-back></xm-navbar-arrow-back>
      <xm-navbar-title></xm-navbar-title>
    </div>

    <div class="d-flex">
      <xm-navbar-input-search *ngIf="isNotMobileMenu()"></xm-navbar-input-search>
      <xm-notifications *ngIf="isNotMobileMenu() && isSessionActive"></xm-notifications>
      <xm-navbar-language-menu-component></xm-navbar-language-menu-component>
      <xm-dynamic-widget-layout *ngIf="navbarLayout" [layouts]="navbarLayout"></xm-dynamic-widget-layout>
      <xm-navbar-toggle></xm-navbar-toggle>
    </div>

  </div>
</nav>
