@import 'theme';

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient:    horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient:    vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient:    vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient:    horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction:    $value;
  -ms-flex-direction:     $value;
  flex-direction:         $value;
}

@mixin flex-grow($int: 0) {
  -webkit-box-flex:  $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow:    $int;
  -ms-flex-positive: $int;
  flex-grow:         $int;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap:    $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap:         $value;
}

// TODO; redesign and remove ng-deep
::ng-deep {
  @import 'toggle/navbar-toggler';

  .xm-navbar-container {
    @include flex();
    @include flex-grow(1);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    align-items: center;
    max-width:   100%;

    ::ng-deep .navbar-toggler {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .xm-navbar-container {
      .navbar-toggler {
        display:      block;
        margin-right: -5px;
      }
    }
  }

  // TODO: refactor
  .xm-guest-layout .sidbar-toggle {
    display: none !important;
  }

  .xm-guest-layout .xm-nav-logo {
    // TODO: refactor, implement with .ts
    display: block !important;
  }
}

.navbar {
  padding-top:    0.75rem;
  padding-bottom: 0.75rem;
  z-index:        $zindex-sticky;
}
