@import 'theme';

.navbar {
  z-index:        $zindex-sticky;
  padding-top:    0.75rem;
  padding-bottom: 0.75rem;
}

.xm-navbar-container {
  display:        flex;
  align-items:    center;
  flex-direction: row;
  flex-grow:      1;
  flex-wrap:      nowrap;
  max-width:      100%;
}

.xm-navbar-widgets-container {
  z-index:        $zindex-sticky;
  display:        flex;
  align-items:    center;
  flex-direction: row;
  box-sizing:     border-box;
  width:          100%;
  height:         64px;
  padding:        0 32px;
  white-space:    nowrap;
}
