<nav *ngIf="navbarVersion === XmNavbarConfigVersion.First" class="navbar navbar-transparent" xmNavbarGuestBackground>
  <div class="xm-navbar-container justify-content-between row mx-3">
    <div class="d-flex">
      <xm-navbar-logo-widget></xm-navbar-logo-widget>
      <xm-navbar-arrow-back-widget></xm-navbar-arrow-back-widget>
      <xm-navbar-title-widget></xm-navbar-title-widget>
    </div>

    <div class="d-flex align-items-center">
      <xm-navbar-search-widget></xm-navbar-search-widget>
      <xm-navbar-notification-widget></xm-navbar-notification-widget>
      <xm-navbar-help-link-widget></xm-navbar-help-link-widget>
      <xm-navbar-language-menu-widget></xm-navbar-language-menu-widget>
      <xm-dynamic-widget-layout *ngIf="navbarLayout" [layouts]="navbarLayout"></xm-dynamic-widget-layout>
      <xm-navbar-toggle-widget></xm-navbar-toggle-widget>
    </div>
  </div>
</nav>

<nav class="mat-toolbar" *ngIf="navbarVersion === XmNavbarConfigVersion.Second">
  <xm-dynamic-widget-layout *ngIf="navbarLayout"
                            class="xm-navbar-widgets-container"
                            [layouts]="navbarLayout"></xm-dynamic-widget-layout>
</nav>
