.xm-search-global {
  position:      relative;
  padding-right: 50px;

  .search-input {
    background-color: inherit;
    border:           0;
    background:       center bottom no-repeat, center calc(100% - 1px);
    background-size:  0 100%, 100% 100%;
    transition:       all ease-out 300ms;
  }

  .search-input:focus {
    outline:         none;
    background-size: 100% 100%, 100% 100%;
  }

  .search-btn {
    position: absolute;
    right:    0;
    top:      0;
  }

  &::ng-deep {
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      margin-bottom:  -18px;
      padding-bottom: 18px;
    }
  }
}

