@import 'theme';

:host {
  ::ng-deep {
    .fc-button-group {
      .fc-button {
        background: $xm-primary;
        text-shadow: none;
        color: #fff;
        box-shadow: none;
        border: none;

        &.fc-state-active {
          background: darken($xm-primary, 5%);
        }
      }
    }
  }
}
