<div *ngIf="calendars?.length > 0" class="card">
  <div class="card-body ps-child">
    <div class="row" *ngIf="calendars.length > 1">
      <div class="col">
        <div class="form-group">
          <mat-form-field>
            <mat-select (selectionChange)="onCalendarChange(currentCalendar)"
                        [(ngModel)]="currentCalendar"
                        name="calendarSpec">
              <mat-option *ngFor="let calendar of calendars"
                          [value]="calendar">
                {{ calendar.name?.toUpperCase() }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngFor="let calendar of calendars"
         [hidden]="calendar.id !== currentCalendar.id">
      <xm-calendar-view
        [calendar]="calendar"
        [config]="getCalendarConfig(calendar)"
        [spec]="getCalendarSpec(calendar)"
        [xmEntity]="xmEntity">
      </xm-calendar-view>
    </div>
  </div>
</div>
