<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <h4 class="card-title">{{'reset.request.title'|translate}}</h4>
      </div>

      <div class="card-body">
        <div class="alert alert-danger"
             [innerHTML]="'reset.request.messages.notfound' | translate"
             *ngIf="errorEmailNotExists"></div>

        <div class="alert alert-primary" *ngIf="!success">
          <span>{{'reset.request.messages.info'|translate}}</span>
        </div>

        <div class="alert alert-success" *ngIf="success == 'OK'">
          <span>{{'reset.request.messages.success'|translate}}</span>
        </div>

        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <input matInput
                     type="email"
                     name="email"
                     minlength=5
                     maxlength=100
                     [(ngModel)]="resetAccount.email"
                     #emailInput="ngModel"
                     #emailInputElement="matInput"
                     required
                     placeholder="{{'global.form.email' | translate}}">

              <mat-error *ngIf="emailInput.hasError('required')">
                <span>{{'global.messages.validate.email.required'|translate}}</span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('invalid')">
                <span>{{'global.messages.validate.email.invalid'|translate}}</span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('minlength')">
                <span>{{'global.messages.validate.email.minlength'|translate}}</span>
              </mat-error>
              <mat-error *ngIf="emailInput.hasError('maxlength')">
                <span>{{'global.messages.validate.email.maxlength'|translate}}</span>
              </mat-error>
            </mat-form-field>
          </div>

          <button type="submit" [disabled]="resetRequestForm.form.invalid" color="primary"
                  mat-button
                 >{{'reset.request.form.button'|translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
