:host ::ng-deep {
  table.mat-table {
    thead {
      tr {
        th, td {
          border-top: none;
          border-bottom: 2px solid #dee2e6;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
