<div *ngIf="!(options?.hideOptionsMenu)" class="dropdown xm-entity-list-actions">
  <button [matMenuTriggerFor]="entityListActions" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #entityListActions="matMenu">
    <button (click)="onRefresh()" class="btn-sm" mat-menu-item>
      {{'xm-entity.entity-list-card.refresh' | translate}}
    </button>
    <button (click)="isShowFilterArea = !isShowFilterArea" *ngIf="item.filter" class="btn-sm" mat-menu-item>
      <ng-container *ngIf="isShowFilterArea">
        {{'xm-entity.entity-list-card.filters-hide' | translate}}
      </ng-container>
      <ng-container *ngIf="!isShowFilterArea">
        {{'xm-entity.entity-list-card.filters-show' | translate}}
      </ng-container>
    </button>
    <ng-container *ngIf="item.xmEntitySpec?.functions && item.xmEntitySpec?.functions.length">
      <xm-function-list-section [functionSpecs]="item.xmEntitySpec?.functions" [listView]="true">
      </xm-function-list-section>
    </ng-container>
    <button *xmPermitted="['XMENTITY.EXPORT.FILE']"
            [matMenuTriggerFor]="entityListActionDownloads"
            class="btn-sm"
            mat-menu-item>
      {{'xm-entity.entity-list-card.export.action.downloads' | translate}}
    </button>
  </mat-menu>

  <mat-menu #entityListActionDownloads="matMenu">
    <button (click)="onFileExport(item, 'xlsx')" class="btn-sm" mat-menu-item>
      {{'xm-entity.entity-list-card.export.action.xls' | translate}}
    </button>
    <button (click)="onFileExport(item, 'csv');" class="btn-sm" mat-menu-item>
      {{'xm-entity.entity-list-card.export.action.csv' | translate}}
    </button>
  </mat-menu>
</div>

<div class="row">
  <!-- start fast search -->
  <div *xmPermitted="['XMENTITY.SEARCH.QUERY']" class="col-sm-8">
    <div *ngIf="item.fastSearch?.length > 1" class="xm-button-group mb-3">
      <button (click)="onApplyFastSearch(item, getDefaultSearch(item))"
              *ngIf="true"
              [class.active]="item.currentQuery == getDefaultSearch(item)"
              class="size-sm"
              color="primary"
              mat-flat-button>
        <span>{{'global.all'|translate}}</span>
      </button>
      <button (click)="onApplyFastSearch(item, fastSearch.query)"
              *ngFor="let fastSearch of getFastSearches(item)"
              [class.active]="item.currentQuery === fastSearch.query"
              class="size-sm"
              color="primary"
              mat-flat-button>
        {{fastSearch.name | translate}}
      </button>
    </div>
  </div>
  <!-- end fast search -->
</div>

<!-- start filter area -->
<div *ngIf="isShowFilterArea" class="row">
  <div class="col-sm">
    <json-schema-form (formLayout)="item.filterJsfAttributes.formLayout"
                      (onSubmit)="onApplyFilter(item, $event)"
                      *ngIf="item.filterJsfAttributes?.schema"
                      [data]="item.filterJsfAttributes.data"
                      [form]="item.filterJsfAttributes.form | i18nJsf"
                      [framework]="'material-design'"
                      [layout]="item.filterJsfAttributes.layout | i18nJsf"
                      [options]="item.filterJsfAttributes.options | i18nJsf"
                      [schema]="item.filterJsfAttributes.schema"
                      [widgets]="item.filterJsfAttributes.widgets">
    </json-schema-form>
  </div>
</div>
<!-- end filter area -->

<div class="table-responsive" [ngClass]="{ 'sm-overflow': options.smOverflow }">
  <xm-loader [showLoader]="showLoader"></xm-loader>
  <table class="table w-100"
         mat-table
         matSort
         [matSortDirection]="reverse ? 'asc' : 'desc'"
         [matSortActive]="predicate"
         [dataSource]="tableDataSource">

    <ng-container matColumnDef="avatarUrl">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let xmEntity">
        <div class="xm-avatar-img-container">
          <img src="{{xmEntity.avatarUrl ? xmEntity.avatarUrl : './assets/img/placeholder.png'}}">
          <mat-icon class="xm-avatar-icon"
             *ngIf="xmEntity.type?.icon && !xmEntity.avatarUrl">{{xmEntity.type?.icon}}</mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let field of item.fields"
                  [matColumnDef]="field?.field" [ngSwitch]="field?.field">

      <ng-container *ngSwitchCase="'name'">
        <th mat-header-cell *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field?.field">
          {{field.title | translate}}
        </th>
        <td mat-cell *matCellDef="let xmEntity">
          <div
            *ngIf="(options?.noDeepLink || item?.noDeepLink); then entryHasNotLink else entryHasLink"></div>
          <ng-template #entryHasLink>
            <a href="javascript: void(0);" (click)="onNavigate(item, xmEntity)">
              {{ getFieldValue(xmEntity, field) }}
            </a>
          </ng-template>
          <ng-template #entryHasNotLink>
            {{ getFieldValue(xmEntity, field) }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container  *ngSwitchCase="'typeKey'">
        <th mat-header-cell
            *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field?.field">{{field.title | translate}}</th>
        <td *matCellDef="let xmEntity">
          <div>
            <h6>{{xmEntity.type?.name | translate}}</h6>
          </div>
      </ng-container>

      <ng-container *ngSwitchCase="'startDate'">
        <th mat-header-cell
            *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field?.field">{{field.title | translate}}</th>
        <td *matCellDef="let xmEntity">
          <div>
            {{xmEntity.startDate | xmDateTime}}
          </div>
      </ng-container>

      <ng-container *ngSwitchCase="'updateDate'">
        <th mat-header-cell
            *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field?.field">{{field.title | translate}}</th>
        <td *matCellDef="let xmEntity">
          <div>
            {{xmEntity.updateDate | xmDateTime}}
          </div>
      </ng-container>

      <ng-container *ngSwitchCase="'actions'">
        <th mat-header-cell *matHeaderCellDef></th>
        <td *matCellDef="let xmEntity">
          <div class="xm-table-options dropdown" *permitted="field.actionsListPrivileges">
                      <span class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                        <mat-icon class="text_align-center visible-on-sidebar-regular">more_vert</mat-icon>
                      </span>
            <ul class="dropdown-menu" x-placement="bottom-start">
              <ng-container *ngFor="let action of field.actions">
                <ng-container *ngIf="!action.actionCondition || (action.actionCondition(xmEntity))">
                  <li *permitted="action.privilege">
                    <a (click)="onAction(item, xmEntity, action)">
                      {{ action.name | translate }}
                    </a>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="'action'">
        <th mat-header-cell *matHeaderCellDef></th>
        <td *matCellDef="let xmEntity">
          <ng-container *ngIf="!field.action.actionCondition || (field.action.actionCondition(xmEntity))">
            <ng-container *permitted="field.action.privilege">
              <button (click)="onAction(item, xmEntity, field.action)"
                      class="size-sm {{field.action.className}}"
                      color="primary"
                      mat-flat-button>
                <span>{{(field.action.name | translate) || '&nbsp;'}}</span>
              </button>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="'stateKey'">
        <th mat-header-cell
            *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field?.field">{{field.title | translate}}</th>
        <td *matCellDef="let xmEntity">
          <div *ngIf="xmEntity.state" class="xm-state">
            <div [style.background]="xmEntity.state?.color" class="xm-state-icon">
              <mat-icon>{{xmEntity.state?.icon}}</mat-icon>
            </div>
            {{xmEntity.state?.name | translate}}
          </div>
        </td>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <th mat-header-cell
            *matHeaderCellDef
            [disabled]="field.sortable === false"
            [mat-sort-header]="field.useKeyword ? field.field + '.keyword' : field.field">
          {{field.title | translate}}
        </th>
        <td mat-cell *matCellDef="let xmEntity">{{ getFieldValue(xmEntity, field) }}</td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!(options?.hideDelete) && !(item?.hideDelete)" matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td *matCellDef="let xmEntity">
        <a (click)="onRemove(xmEntity)" href="javascript: void(0);">
          <mat-icon>close</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumnsToDisplay(item.fields)"></tr>
    <tr mat-row *matRowDef="let row; columns: getColumnsToDisplay(item.fields);"></tr>
  </table>

  <no-data [show]="!showLoader && !(tableDataSource?.data?.length > 0)"></no-data>

  <div class="d-flex flex-nowrap align-items-center justify-content-end">
    <ng-container [class.hidden]="!item.entities || (pageSize > item.totalItems)">
      <mat-paginator
        [pageSizeOptions]="itemsPerPageOptions"
        [pageSize]="pageSize"
        [length]="item.totalItems">
      </mat-paginator>
    </ng-container>
  </div>
</div>
