<xm-page-ribbon></xm-page-ribbon>
<xm-alerts></xm-alerts>
<xm-alert-error></xm-alert-error>
<xm-password-needed></xm-password-needed>
<xm-maintenance-view></xm-maintenance-view>
<xm-loader [absolute]="true" routerLoading></xm-loader>

<div class="heatmap-container-wrapper">
  <div class="hidden-heatmap" id="heatmapContainer">
    <div [class.xm-guest-layout]="isGuestLayout"
         class="wrapper">

      <div xmGuestBackground></div>

      <div *ngIf="!isGuestLayout" class="sidebar">
        <xm-sidebar></xm-sidebar>
      </div>

      <div *ngIf="resolved$ | async" class="main-panel xm-main-panel" id="main">

        <xm-navbar class="mb-3"></xm-navbar>

        <div [ngClass]="isGuestLayout ? 'container' : 'container-fluid'"
             class="main-content xm-main-content">
          <router-outlet></router-outlet>
        </div>

        <router-outlet name="popup"></router-outlet>

        <xm-footer></xm-footer>

      </div>

      <xm-sidebar-right></xm-sidebar-right>

    </div>
  </div>
</div>
