<xm-page-ribbon></xm-page-ribbon>
<xm-alert-error></xm-alert-error>
<xm-password-needed></xm-password-needed>
<xm-maintenance-view></xm-maintenance-view>

<div class="heatmap-container-wrapper">
  <div class="hidden-heatmap" id="heatmapContainer">
    <div class="wrapper {{(isGuestLayout || isSidebarEmpty) ? 'xm-guest-layout' : 'xm-auth-layout'}}">
      <div xmGuestBackground></div>

      <xm-sidebar *ngIf="!isGuestLayout && !isSidebarEmpty" class="sidebar"></xm-sidebar>

      <div *ngIf="resolved$ | async"
           class="main-panel xm-main-panel"
           id="main">

        <xm-loader [absolute]="true" routerLoading></xm-loader>

        <xm-navbar class="mb-3"></xm-navbar>

        <div [ngClass]="((isGuestLayout || isSidebarEmpty) && !config.fullWidth) ? 'container' : 'container-fluid'"
             class="main-content xm-main-content">
          <router-outlet></router-outlet>
        </div>

        <router-outlet name="popup"></router-outlet>

        <xm-footer></xm-footer>

      </div>

      <xm-sidebar-right></xm-sidebar-right>

    </div>
  </div>
</div>
