:host ::ng-deep {
  @import 'packages/components/src/guest-background/guest-background';
  @import 'packages/components/src/navbar-guest-background/navbar-guest-background';
}

.xm-main-panel {
  display:        flex;
  flex-direction: column;
  min-height:     100vh;
}

.xm-main-content {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
}

:host ::ng-deep .heatmap-container-wrapper {
  width:    100%;
  height:   100%;
  position: absolute;
}

:host ::ng-deep #heatmapContainer {
  width:  100%;
  height: 100%
}

:host ::ng-deep .hidden-heatmap .heatmap-canvas {
  opacity: 0;
  display: none;
}

:host ::ng-deep .heatmap-canvas {
  pointer-events: none;
  width:          100%;
}

