@import "theme";

:host ::ng-deep {
  @import 'packages/components/guest-background/guest-background';
  @import 'packages/components/navbar-guest-background/navbar-guest-background';
}

.xm-main-panel {
  display:        flex;
  flex-direction: column;
  min-height:     100vh;
  @include transitions-property(margin, 300ms, cubic-bezier(0.685, 0.0473, 0.346, 1));
}

.xm-main-content {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
}
