.xm-breadcrumb-container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  .xm-breadcrumb-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: normal;
    order: 1;

    .separator {
      opacity: 0.7;
      margin: 0 4px;
      width: 16px;
      text-align: center;
      color: #cacaca;
    }

    h5 {
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: .15px;
    }

    .xm-breadcrumb-item-custom-text {
      font-size: 22px;
    }

    .opened-breadcrumb {
      color: #181818;
      min-height: 28px;
      line-height: 28px;
      margin-bottom: 4px;
    }

    .xm-breadcrumb-item-link {
      font-size: 12px;
      letter-spacing: .5px;
      line-height: 16px;
      color: #4d4d4d;
      font-weight: 500;
      border-radius: 8px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.08);
      }
    }

    mat-icon {
      color: #666666;
    }

    .mat-button {
      font-weight: 400;
      color: #666666;
    }

    &-active {
      width: 100%;
      order: 0;
    }
  }
}
