.xm-breadcrumb-item.xm-breadcrumb-item-active {
  font-weight: bold;
}

.xm-breadcrumb-item {
  display: inline;
  list-style-type: none;
  font-weight: normal;

  .mat-button {
    font-weight: inherit;
  }
}
