$mat-header-row-height: 48px !default;

.header-container {
  height:              $mat-header-row-height;

  overflow: hidden;
  border-width:        0;
  border-bottom-width: 1px;
  border-style:        solid;
  display:             flex;
  align-items:         center;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  position:            absolute;
  top:                 0;
  width:               100%;
  padding-left:        24px;
  padding-right:       24px;

  &::after {
    display:    inline-block;
    min-height: inherit;
    content:    '';
  }
}
