@mixin xm-block-placeholder-theme($theme) {
  $xm-is-dark-mode: map-get($theme, is-dark-mode);

  $base-grey:       null !default;
  $base-color:      null !default;
  @if ($xm-is-dark-mode == true) {
    $base-grey:  #626262 !default;
    $base-color: #525252 !default;
  }
  @else {
    $base-grey:  #ffffff !default;
    $base-color: #f5f5f5 !default;
  }

  .xm-block-placeholder {
    background-color: $base-color;
  }

  .xm-block-placeholder::before {
    background: rgba($base-grey, 1);
    background: radial-gradient(
                    circle,
                    rgba($base-grey, 1) 0%,
                    rgba($base-grey, 0) 100%
                );
  }
}
