@import '@xm-ngx/styles/src/scroll';

@mixin categories-size() {
  height: 100%;
  min-width: 94px;
  width: 94px;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin xm-menu-categories-theme($theme) {
  $xm-sidebar-background: map-get($theme, sidebar-background) or #ffffff;
  $xm-menu-categories-scrollbar-color: map-get($theme, menu-categories-scrollbar-color) or #777777;
  $xm-menu-categories-text-color: map-get($theme, menu-categories-text-color) or #555555;
  //$xm-menu-item-hover: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08)) !default;
  //$xm-menu-item-active-color: map-get($theme, sidebar-text-active-color) !default;

  .menu-categories-spacer {
    @include categories-size();
  }

  .menu-categories {
    @include categories-size();
    position: fixed;
    top: 0;
    left: 0;
    right: unset;
    display: flex;
    flex-direction: column;
    background: $xm-sidebar-background;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid rgba(196, 199, 197, .5);
    z-index: 100;
    transition: 300ms;

    &__toggle-button {
      margin-left: 12px;

      button {
        line-height: 0;
      }
    }

    &__logo {
      @include flex-center();
      position: relative;
      width: inherit;
      margin: 10px auto 10px;
      padding: 2px;

      &:after {
        content: '';
        position: absolute;
        bottom: -25px;
        height: 25px;
        width: inherit;
        z-index: 100;
        background: linear-gradient(0deg, rgba($xm-sidebar-background, 0) 0%, rgba($xm-sidebar-background, 1) 100%);
      }
    }

    &__container {
      @include xm-scrollbar(8px, 10px, $xm-menu-categories-scrollbar-color, transparent);
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 7px;

      .menu-category {
        @include flex-center();
        flex-direction: column;
        width: 80px;
        margin: 0 auto 14px;
        padding: 2px;
        text-align: center;
        color: $xm-menu-categories-text-color;
        cursor: pointer;

        &:first-child {
          margin-top: 10px;
        }

        &__icon {
          @include flex-center();
          position: relative;
          width: 56px;
          height: 32px;
          margin: 0 auto 4px;
          transition: font-size .2s cubic-bezier(.2, 0, 0, 1);
          border-radius: 16px;
        }

        &__name {
          font-size: 12px;
        }
      }

    }

    &__empty-space {
      flex: auto;
      width: inherit;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: inherit;

      &:before {
        content: '';
        position: absolute;
        top: -25px;
        height: 25px;
        width: inherit;
        background: linear-gradient(180deg, rgba($xm-sidebar-background, 0) 0%, rgba($xm-sidebar-background, 1) 100%);
      }

      button {
        margin: 8px 0;
        background: transparent;
        box-shadow: none;
        color: $xm-menu-categories-text-color;

        &:focus {
          box-shadow: none;
        }

        &.action-icon {
          transition: rotate 50ms;
        }
      }

      .action-icon {
        transform: rotate(0deg);

        &__left {
          margin-right: -6px;
        }

        &__right {
          margin-left: -6px;
        }
      }

      .rotate-chevron-left {
        transform: rotate(-180deg);
      }

      .rotate-chevron-right {
        transform: rotate(180deg);
      }
    }
  }

  @media all and (max-width: 991px) {
    .menu-categories {
      position: relative;
      border-right: none;
      width: 100%;
      align-items: flex-start;

      &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 8px;
      }

      &__actions {
        display: none;
      }

      .menu-category {
        height: 48px;
        flex-direction: row;
        margin: 0;
        padding: 2px 16px;
        width: 100%;
        justify-content: flex-start;

        &:first-child {
          margin-top: 0;
        }

        &.active {
          border-radius: 100px;
        }

        &__icon {
          width: auto;
          padding: 0;
          margin: 0 16px 0 0;
        }

        &__name {
          font-size: 16px;
        }

        &__nav-icon {
          margin-left: auto;
        }
      }
    }
  }
}
