/* You can add global styles to this file, and also import other style files */

// Fonts
$material-icons-font-path: '~assets/fonts/material-design-icons-v5.woff2';
@import '~@xm-ngx/styles/src/material-design-icons';

// Theme
@import './styles/theme';
@import './styles/theming';
@import '~@xm-ngx/styles/components';

@include xm-ngx-styles-theme($xm-theme);
@include xm-theme($xm-theme);

// Vendors
@import '~@xm-ngx/styles/src/vendor/index';
@include xm-angular-material-theme($xm-theme);
@include xm-angular-material-typography();
@include xm-vendor-xm-override();

// Components
@import 'packages/components/components-styles';
@import 'packages/components/components-themes';
@import '~@xm-ngx/styles/src/_loader-dizabled-container.scss';
@import 'packages/alert/alert';

// increase css priority with xm-body class
.xm-body {
  @include xm-components-theme($xm-theme);
  @include xm-alert-theme($xm-theme);
}

// BC deps below will be removed!
// Backward compatibility
@import 'styles/backward-compatibility';

