/* You can add global styles to this file, and also import other style files */

// Fonts
$material-icons-font-path: '~assets/fonts/material-design-icons-v5.woff2';
@import '~@xm-ngx/styles/src/material-design-icons';

// Theme
@import './styles/theme';
@import '~@xm-ngx/styles/components';

@include xm-ngx-styles-theme($xm-theme);

// Vendors
@import '~@xm-ngx/styles/src/vendor/index';
@include xm-angular-material-theme($xm-theme);
@include xm-angular-material-typography();
@include xm-vendor-xm-override();

// Components
@import '~@xm-ngx/styles/src/_loader-placeholder.scss';
@import 'packages/components/src/loader/loader.component';

@import 'src/app/layouts/main/main-theme';
@import 'src/app/modules/xm-sidebar/sidebar-theme';
@import 'packages/components/src/xm-sidebar-right/sidebar-right-theme';
@import 'src/app/layouts/navbar/_navbar-theme.scss';
// increase css priority with xm-body class
.xm-body {
  @include xm-sidebar-theme($xm-theme);
}
@include xm-layout-sidebar-with-mini($xm-theme);
@include xm-navbar($xm-theme);

// BC deps below will be removed!
// Backward compatibility
@import 'styles/backward-compatibility';
