/* You can add global styles to this file, and also import other style files */

// Fonts
$material-icons-font-path: '~assets/fonts/material-design-icons-v5.woff2';
@import '~@xm-ngx/styles/src/material-design-icons';

// Theme
@import './styles/theme';
@import './styles/theming';
@import '~@xm-ngx/styles/components';

@include xm-ngx-styles-theme($xm-theme);
@include xm-theme($xm-theme);

// Vendors
@import '~@xm-ngx/styles/src/vendor/index';
@include xm-angular-material-theme($xm-theme);
@include xm-angular-material-typography();
@include xm-vendor-xm-override();

// Components
@import '~@xm-ngx/styles/src/_loader-dizabled-container.scss';
@import 'packages/components/loader/loader.component';
@import 'packages/xm-alert/alert';
@import 'packages/components/loading/loading';
@import 'packages/components/xm-text-view/xm-text-theme';
@include xm-loading-theme($xm-theme);
@include xm-text-theme($xm-theme);

@import 'src/app/layouts/main/main-theme';
@import 'src/app/modules/xm-sidebar/sidebar-theme';
@import 'packages/components/xm-sidebar-right/sidebar-right-theme';
@import 'src/app/layouts/navbar/_navbar-theme.scss';
// increase css priority with xm-body class
.xm-body {
  @include xm-sidebar-theme($xm-theme);
}
@include xm-layout-sidebar-with-mini($xm-theme);
@include xm-navbar($xm-theme);

// BC deps below will be removed!
// Backward compatibility
@import 'styles/backward-compatibility';


.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0.75em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.5em 0;
}

.card:not(.mat-card) {
  margin-bottom: 48px;
}

.mat-card.mb-4 {
  padding-top: 0px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}

.table th,
.table td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.table thead th {
  vertical-align: middle;
  border-top: none!important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-right: 16px;
}

.card-body {
  padding-top: 0;
}

.card-stats {
  margin: 0!important;
  padding-bottom: 40px!important;
}

.xm-datetime-picker .abs {
  opacity: 1!important;
}

.xm-datetime-picker .to-display {
  display: none!important;
}

.xm-datetime-picker .picker-trigger {
  padding: 0!important;
}
