@import 'theme';

:host {
  display:     flex;
  align-items: center;
}

.title-part {
  display:   inline-block;
  font-size: map-get($xm-headline-6, font-size);
  position:  relative;
  @include truncate(300px);
}
