@import 'src/styles/theme';

:host {
  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba(0, 0, 0, 0.01);
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-table-container {
    max-height: 400px;
    overflow:   auto;
    position:   relative;
  }

  .example-element-detail {
    display:  flex;
    overflow: hidden;
  }

  .example-element-diagram {
    border:      2px solid black;
    font-weight: lighter;
    height:      104px;
    margin:      8px 0;
    min-width:   80px;
    padding:     8px;
  }

  .example-element-symbol {
    font-size:   40px;
    font-weight: bold;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  .mat-expansion-indicator::after {
    border-style:   solid;
    border-width:   0 2px 2px 0;
    content:        '';
    display:        inline-block;
    padding:        3px;
    transform:      rotate(45deg);
    vertical-align: middle;
  }

  .list-item-active .mat-cell {
    color: $xm-primary;
  }

  .table-container {
    height:   calc(100vh - 250px);
    overflow: auto;
  }

  .mat-table-sticky {
    border-bottom: 1px solid #e0e0e0;
  }
}
