@import '~@xm-ngx/styles/src/scroll';

:host {
  display: block;
  width:   auto;
  height:  100%;

  .section-scroll {
    overflow-x:     hidden;
    overflow-y:     auto;
    display:        flex;
    flex-direction: column;
    flex-grow:      1;
    height:         100%;
    min-height:     100px;
    @include xm-scrollbar();
  }
}
