/* @TODO: maybe move to global styles... or maybe make ? */
@import 'theme';

.btn-group {
  .mat-flat-button {
    border-radius: 0;

    &:first-child {
      border-radius: $xm-radius-sm 0 0 $xm-radius-sm;
    }

    &:last-child {
      border-radius: 0 $xm-radius-sm $xm-radius-sm 0;
    }
  }
}

.xm-link-tree {
  min-height: 32px;

  ::ng-deep {
    > ul > li::before, > ul > li::after {
      border: 0;
    }

    li.parent_li > span:hover, li.parent_li > span:hover + ul li span {
      background: #eee;
      color:      #000;
    }

    li {
      list-style-type: none;
      margin:          0;
      padding:         10px 5px 0;
      position:        relative;

      &:last-child {
        &:before {
          height: 32px;
        }
      }

      &:before, &:after {
        content:  '';
        left:     -20px;
        position: absolute;
        right:    auto;
      }

      &:before {
        border-left: 1px solid #e0e0e0;
        bottom:      50px;
        height:      100%;
        top:         0;
        width:       1px;
      }

      &:after {
        border-top: 1px solid #e0e0e0;
        height:     20px;
        top:        30px;
        width:      25px;
      }

      > span {
        cursor: pointer;
      }

      span {
        -moz-border-radius:    32px;
        -webkit-border-radius: 32px;
        border-radius:         32px;
        display:               inline-block;
        text-decoration:       none;
        background:            #e0e0e0;
        font-size:             13px;
        height:                32px;
        line-height:           32px;

        img {
          margin-top:   -3px;
          margin-right: -15px;
        }

        p {
          display:      inline;
          margin-left:  15px;
          margin-right: 15px;
        }

        i {
          display:     block;
          float:       right;
          margin-top:  4px;
          margin-left: -15px;
        }
      }
    }
  }
}




