<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">{{isBackLink ? 'link' : linkSpec.model.icon}}</i>
    </div>
    <h4 class="card-title">{{linkSpec.model.name | translate}}</h4>
  </div>

  <div class="card-body">
    <div class="text-center">
      <div *ngIf="modes.length > 1" class="xm-button-group mb-3">
        <button (click)="mode = 'list';"
                [disabled]="mode === 'list'"
                class="size-sm"
                color="primary"
                mat-flat-button
                type="button">
          <span>{{'xm-entity.link-list-card.list-view'|translate}}</span>
        </button>
        <button (click)="mode = 'tree';"
                [disabled]="mode === 'tree'"
                class="size-sm"
                color="primary"
                mat-flat-button
                type="button">
          <span>{{'xm-entity.link-list-card.tree-view'|translate}}</span>
        </button>
      </div>
    </div>

    <div *ngIf="mode == 'list'" class="table-responsive">
      <table class="table"
             mat-table
             matSort
             [dataSource]="links">

        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef></th>
          <td *matCellDef="let link">
            <div class="xm-avatar-img-container">
              <img src="{{link.target.avatarUrl ? link.target.avatarUrl : './assets/img/placeholder.png'}}">
              <i *ngIf="linkSpec.model.icon && !link.target.avatarUrl"
                 class="material-icons">{{linkSpec.model.icon}}</i>
            </div>
          </td>
        </ng-container>

        <ng-container *ngFor="let field of fields" [ngSwitch]="field?.field" [matColumnDef]="field?.field">

          <ng-container *ngSwitchCase="'name'">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="field.field">{{field.title | translate}}</th>
            <td mat-cell *matCellDef="let link">
              <a href="javascript: void(0);" routerLink="/application/{{link.target.typeKey}}/{{link.target.id}}">
                {{ getFieldValue(link?.target, field) }}
              </a>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'description'">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="field.field">{{field.title | translate}}</th>
            <td mat-cell *matCellDef="let link"><h6>{{ link.description }}</h6></td>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <ng-container *ngIf="field?.useKeyword && field?.sortable; else noSort">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{field.title | translate}}</th>
            </ng-container>
            <ng-template #noSort>
              <th mat-header-cell *matHeaderCellDef>{{field.title | translate}}</th>
            </ng-template>

            <td mat-cell *matCellDef="let xmEntity">{{ getFieldValue(xmEntity, field) }}</td>
          </ng-container>

        </ng-container>

        <ng-container matColumnDef="delete" *ngIf="!isBackLink">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="text-right" mat-cell *matCellDef="let link">
            <button *permitted="'LINK.DELETE'" (click)="onRemove(link)" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

      <no-data [show]="!(links && links.length > 0)" hideImage="true"></no-data>
    </div>

    <div *ngIf="mode === 'tree'" class="row">
      <div class="col-md-12">
        <xm-link-list-tree-section
          [linkSpec]="linkSpec.model"
          [links]="treeRootLinks"
          [isRootTree]="true">
        </xm-link-list-tree-section>
      </div>
    </div>
  </div>
</div>
