@use 'sass:color';

@mixin xm-table-highlighted-row-styles($theme) {
  $app-surface: map-get($theme, surface);
  $app-on-surface: map-get($theme, on-surface);

  background: color.mix($app-on-surface, $app-surface, 8%);
}

@mixin xm-table-error-row-styles($theme) {
  $app-error: map-get($theme, primary);

  background: mix(white, $app-error, 90%);
}


@mixin xm-table-theme($xm-theme) {

  .xm-table-widget .xm-table-row-background.xm-table-row-selected {
    $xm-primary:      map-get($xm-theme, primary);
    background-color: rgba($xm-primary, .1);;
  }

  .xm-table-widget .xm-table-row-background.xm-table-row-loading {
    opacity: .3;
  }

  .xm-table-widget tr.xm-table-hoverable-row:hover {
    $xm-surface: map-get($xm-theme, surface);
    background:  $xm-surface;
  }

  .xm-table-widget tr.xm-table-row-highlight:hover {
    @include xm-table-highlighted-row-styles($xm-theme);
  }

  .xm-table-widget tr.xm-table-highlighted-row {
    @include xm-table-highlighted-row-styles($xm-theme);
  }

  .xm-table-widget tr.xm-table-row-error {
    @include xm-table-error-row-styles($xm-theme)
  }


  .header-container {
    $xm-surface:      map-get($xm-theme, surface);
    $xm-primary:      map-get($xm-theme, primary);

    color:            $xm-primary;
    background-color: lighten($xm-primary, 60%);
  }
}
